USE [master]
GO
/****** Object:  Database [CentralDashboards]    Script Date: 07/04/2026 11:01:04 a. m. ******/
CREATE DATABASE [CentralDashboards]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CentralDashboards', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\CentralDashboards.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CentralDashboards_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\CentralDashboards_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CentralDashboards].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CentralDashboards]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_GenerarFolio]    Script Date: 07/04/2026 11:01:04 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ============================================================
--  SECCIÓN 3: FUNCIÓN DE FOLIO AUTOMÁTICO
-- ============================================================

-- Función auxiliar que genera el siguiente folio por prefijo y año
CREATE   FUNCTION [dbo].[fn_GenerarFolio]
(
    @Prefijo NVARCHAR(5),   -- 'DASH', 'INC', 'SOL'
    @Tabla   NVARCHAR(50)   -- 'Dashboards', 'Incidencias', 'Solicitudes'
)
RETURNS NVARCHAR(20)
AS
BEGIN
    DECLARE @Anio  NVARCHAR(4) = CAST(YEAR(GETDATE()) AS NVARCHAR(4));
    DECLARE @Seq   INT = 1;
    DECLARE @Folio NVARCHAR(20);

    -- Contar registros del año en curso según la tabla indicada
    IF @Tabla = 'Incidencias'
        SELECT @Seq = COUNT(*) + 1 FROM Incidencias
        WHERE YEAR(FechaCreacion) = YEAR(GETDATE());

    ELSE IF @Tabla = 'Solicitudes'
        SELECT @Seq = COUNT(*) + 1 FROM Solicitudes
        WHERE YEAR(FechaCreacion) = YEAR(GETDATE());

    ELSE IF @Tabla = 'Dashboards'
        SELECT @Seq = COUNT(*) + 1 FROM Dashboards
        WHERE YEAR(FechaPublicacion) = YEAR(GETDATE());

    SET @Folio = @Prefijo + '-' + @Anio + '-' + RIGHT('000' + CAST(@Seq AS NVARCHAR(3)), 3);

    RETURN @Folio;
END
GO
/****** Object:  Table [dbo].[Areas]    Script Date: 07/04/2026 11:01:04 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Areas](
	[AreaID] [int] IDENTITY(1,1) NOT NULL,
	[NombreArea] [nvarchar](100) NOT NULL,
	[Descripcion] [nvarchar](300) NULL,
	[IconoURL] [nvarchar](300) NULL,
	[Activo] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[AreaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 07/04/2026 11:01:04 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[UsuarioID] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
	[Correo] [nvarchar](150) NOT NULL,
	[RolID] [int] NOT NULL,
	[AreaID] [int] NULL,
	[Activo] [bit] NOT NULL,
	[FechaCreacion] [datetime] NOT NULL,
	[UltimoAcceso] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[UsuarioID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Correo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Dashboards]    Script Date: 07/04/2026 11:01:04 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dashboards](
	[DashboardID] [int] IDENTITY(1,1) NOT NULL,
	[Folio] [nvarchar](20) NOT NULL,
	[Nombre] [nvarchar](150) NOT NULL,
	[Descripcion] [nvarchar](500) NULL,
	[URLReporte] [nvarchar](500) NOT NULL,
	[EsPrivado] [bit] NOT NULL,
	[FechaPublicacion] [datetime] NOT NULL,
	[CreadoPorID] [int] NOT NULL,
	[Activo] [bit] NOT NULL,
	[UnidadID] [int] NOT NULL,
	[ImagenURL] [nvarchar](500) NULL,
	[ImagenData] [varbinary](max) NULL,
	[ImagenTipo] [nvarchar](50) NULL,
	[DocumentacionData] [varbinary](max) NULL,
	[DocumentacionNombre] [nvarchar](255) NULL,
	[DocumentacionTipo] [nvarchar](100) NULL,
	[Nivel] [nvarchar](20) NULL,
	[URLAdmin] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[DashboardID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Folio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_DashboardsConArea]    Script Date: 07/04/2026 11:01:04 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   VIEW [dbo].[vw_DashboardsConArea] AS
SELECT 
    d.DashboardID,
    d.Folio,
    d.Nombre,
    d.URLReporte,
    d.EsPrivado,
    d.Activo,
    a.AreaID,
    a.NombreArea,
    u.Nombre AS CreadoPor,
    d.FechaPublicacion
FROM Dashboards d
INNER JOIN Usuarios u ON u.UsuarioID = d.CreadoPorID
INNER JOIN Areas a    ON a.AreaID    = u.AreaID;
GO
/****** Object:  Table [dbo].[Estatus]    Script Date: 07/04/2026 11:01:04 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Estatus](
	[EstatusID] [int] IDENTITY(1,1) NOT NULL,
	[NombreEstatus] [nvarchar](50) NOT NULL,
	[AplicaA] [nvarchar](30) NOT NULL,
	[Color] [nvarchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[EstatusID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TiposIncidencia]    Script Date: 07/04/2026 11:01:04 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TiposIncidencia](
	[TipoID] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
	[Descripcion] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[TipoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Incidencias]    Script Date: 07/04/2026 11:01:04 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Incidencias](
	[IncidenciaID] [int] IDENTITY(1,1) NOT NULL,
	[Folio] [nvarchar](20) NOT NULL,
	[DashboardID] [int] NOT NULL,
	[ReportadoPorID] [int] NOT NULL,
	[TipoIncidenciaID] [int] NOT NULL,
	[Titulo] [nvarchar](200) NOT NULL,
	[Descripcion] [nvarchar](max) NOT NULL,
	[Prioridad] [nvarchar](20) NOT NULL,
	[EstatusID] [int] NOT NULL,
	[FechaCreacion] [datetime] NOT NULL,
	[FechaResolucion] [datetime] NULL,
	[AsignadoAID] [int] NULL,
	[TipoPersonalizado] [nvarchar](150) NULL,
PRIMARY KEY CLUSTERED 
(
	[IncidenciaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Folio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_IncidenciasResumen]    Script Date: 07/04/2026 11:01:04 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   VIEW [dbo].[vw_IncidenciasResumen] AS
SELECT i.IncidenciaID, i.Folio, i.Titulo, i.Prioridad, i.FechaCreacion,
       d.Folio AS FolioDash, d.Nombre AS Dashboard,
       e.NombreEstatus, e.Color, t.Nombre AS Tipo,
       u.Nombre AS ReportadoPor, a.Nombre AS AsignadoA
FROM Incidencias i
INNER JOIN Dashboards     d ON d.DashboardID      = i.DashboardID
INNER JOIN Estatus        e ON e.EstatusID         = i.EstatusID
INNER JOIN TiposIncidencia t ON t.TipoID           = i.TipoIncidenciaID
INNER JOIN Usuarios       u ON u.UsuarioID         = i.ReportadoPorID
LEFT  JOIN Usuarios       a ON a.UsuarioID         = i.AsignadoAID;
GO
/****** Object:  Table [dbo].[TiposSolicitud]    Script Date: 07/04/2026 11:01:04 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TiposSolicitud](
	[TipoID] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
	[Descripcion] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[TipoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Solicitudes]    Script Date: 07/04/2026 11:01:04 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Solicitudes](
	[SolicitudID] [int] IDENTITY(1,1) NOT NULL,
	[Folio] [nvarchar](20) NOT NULL,
	[DashboardID] [int] NULL,
	[SolicitadoPorID] [int] NOT NULL,
	[TipoSolicitudID] [int] NOT NULL,
	[Titulo] [nvarchar](200) NOT NULL,
	[Descripcion] [nvarchar](max) NOT NULL,
	[Justificacion] [nvarchar](max) NULL,
	[EstatusID] [int] NOT NULL,
	[FechaCreacion] [datetime] NOT NULL,
	[FechaRespuesta] [datetime] NULL,
	[AsignadoAID] [int] NULL,
	[Prioridad] [nvarchar](20) NOT NULL,
	[TipoPersonalizado] [nvarchar](150) NULL,
PRIMARY KEY CLUSTERED 
(
	[SolicitudID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Folio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_SolicitudesResumen]    Script Date: 07/04/2026 11:01:04 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   VIEW [dbo].[vw_SolicitudesResumen] AS
SELECT s.SolicitudID, s.Folio, s.Titulo, s.FechaCreacion,
       d.Folio AS FolioDash, d.Nombre AS Dashboard,
       e.NombreEstatus, e.Color, t.Nombre AS Tipo,
       u.Nombre AS SolicitadoPor, a.Nombre AS AsignadoA
FROM Solicitudes s
LEFT  JOIN Dashboards    d ON d.DashboardID    = s.DashboardID
INNER JOIN Estatus       e ON e.EstatusID       = s.EstatusID
INNER JOIN TiposSolicitud t ON t.TipoID         = s.TipoSolicitudID
INNER JOIN Usuarios      u ON u.UsuarioID       = s.SolicitadoPorID
LEFT  JOIN Usuarios      a ON a.UsuarioID       = s.AsignadoAID;
GO
/****** Object:  Table [dbo].[Auditoria]    Script Date: 07/04/2026 11:01:04 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Auditoria](
	[AuditoriaID] [int] IDENTITY(1,1) NOT NULL,
	[UsuarioID] [int] NOT NULL,
	[Accion] [nvarchar](100) NOT NULL,
	[TablaAfectada] [nvarchar](50) NULL,
	[RegistroID] [int] NULL,
	[Detalle] [nvarchar](max) NULL,
	[FechaAccion] [datetime] NOT NULL,
	[IPOrigen] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[AuditoriaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Avisos]    Script Date: 07/04/2026 11:01:04 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Avisos](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Tipo] [nvarchar](30) NOT NULL,
	[Titulo] [nvarchar](150) NOT NULL,
	[Contenido] [nvarchar](1000) NOT NULL,
	[Fecha] [date] NOT NULL,
	[Activo] [bit] NOT NULL,
	[CreadoPor] [int] NOT NULL,
	[FechaCreacion] [datetime] NOT NULL,
	[FechaModificacion] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AvisosComentarios]    Script Date: 07/04/2026 11:01:04 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AvisosComentarios](
	[ComentarioID] [int] IDENTITY(1,1) NOT NULL,
	[AvisoID] [int] NOT NULL,
	[UsuarioID] [int] NOT NULL,
	[Mensaje] [nvarchar](max) NOT NULL,
	[FechaComentario] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ComentarioID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AvisosReacciones]    Script Date: 07/04/2026 11:01:04 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AvisosReacciones](
	[ReaccionID] [int] IDENTITY(1,1) NOT NULL,
	[AvisoID] [int] NOT NULL,
	[UsuarioID] [int] NOT NULL,
	[Tipo] [nvarchar](20) NOT NULL,
	[FechaReaccion] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ReaccionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_AvisoReaccion] UNIQUE NONCLUSTERED 
(
	[AvisoID] ASC,
	[UsuarioID] ASC,
	[Tipo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Comentarios]    Script Date: 07/04/2026 11:01:04 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Comentarios](
	[ComentarioID] [int] IDENTITY(1,1) NOT NULL,
	[TipoRegistro] [nvarchar](20) NOT NULL,
	[RegistroID] [int] NOT NULL,
	[AutorID] [int] NOT NULL,
	[EsRespuestaAdmin] [bit] NOT NULL,
	[Mensaje] [nvarchar](max) NOT NULL,
	[FechaCreacion] [datetime] NOT NULL,
	[ComentarioPadreID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ComentarioID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DashboardImagenes]    Script Date: 07/04/2026 11:01:04 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DashboardImagenes](
	[ImagenID] [int] IDENTITY(1,1) NOT NULL,
	[DashboardID] [int] NOT NULL,
	[URLImagen] [nvarchar](500) NOT NULL,
	[Orden] [tinyint] NOT NULL,
	[FechaSubida] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ImagenID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DashboardPermisos]    Script Date: 07/04/2026 11:01:04 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DashboardPermisos](
	[PermisoID] [int] IDENTITY(1,1) NOT NULL,
	[DashboardID] [int] NOT NULL,
	[UsuarioID] [int] NOT NULL,
	[FechaOtorgado] [datetime] NOT NULL,
	[OtorgadoPorID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PermisoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Permisos] UNIQUE NONCLUSTERED 
(
	[DashboardID] ASC,
	[UsuarioID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Notificaciones]    Script Date: 07/04/2026 11:01:04 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notificaciones](
	[NotificacionID] [int] IDENTITY(1,1) NOT NULL,
	[UsuarioID] [int] NOT NULL,
	[Titulo] [nvarchar](150) NOT NULL,
	[Mensaje] [nvarchar](500) NOT NULL,
	[Tipo] [nvarchar](50) NOT NULL,
	[IconoClass] [nvarchar](100) NULL,
	[ColorClass] [nvarchar](50) NULL,
	[Url] [nvarchar](300) NULL,
	[Leida] [bit] NOT NULL,
	[FechaCreacion] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[NotificacionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 07/04/2026 11:01:04 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[RolID] [int] IDENTITY(1,1) NOT NULL,
	[NombreRol] [nvarchar](50) NOT NULL,
	[Descripcion] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[RolID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[NombreRol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TicketImagenes]    Script Date: 07/04/2026 11:01:04 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TicketImagenes](
	[ImagenID] [int] IDENTITY(1,1) NOT NULL,
	[TipoTicket] [nvarchar](20) NOT NULL,
	[TicketID] [int] NOT NULL,
	[NombreArchivo] [nvarchar](260) NOT NULL,
	[RutaRelativa] [nvarchar](500) NOT NULL,
	[TipoMime] [nvarchar](100) NOT NULL,
	[TamanioBytes] [bigint] NOT NULL,
	[SubidoPorID] [int] NOT NULL,
	[FechaSubida] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ImagenID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UnidadesNegocio]    Script Date: 07/04/2026 11:01:04 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UnidadesNegocio](
	[UnidadID] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](150) NOT NULL,
	[Descripcion] [nvarchar](500) NULL,
	[IconoURL] [nvarchar](max) NULL,
	[Activo] [bit] NOT NULL,
	[FechaCreacion] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UnidadID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Index [IX_Auditoria_Usuario]    Script Date: 07/04/2026 11:01:04 a. m. ******/
CREATE NONCLUSTERED INDEX [IX_Auditoria_Usuario] ON [dbo].[Auditoria]
(
	[UsuarioID] ASC,
	[FechaAccion] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Comentarios_Ticket]    Script Date: 07/04/2026 11:01:04 a. m. ******/
CREATE NONCLUSTERED INDEX [IX_Comentarios_Ticket] ON [dbo].[Comentarios]
(
	[TipoRegistro] ASC,
	[RegistroID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_DashboardImagenes_DashboardID]    Script Date: 07/04/2026 11:01:04 a. m. ******/
CREATE NONCLUSTERED INDEX [IX_DashboardImagenes_DashboardID] ON [dbo].[DashboardImagenes]
(
	[DashboardID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Dashboards_Folio]    Script Date: 07/04/2026 11:01:04 a. m. ******/
CREATE NONCLUSTERED INDEX [IX_Dashboards_Folio] ON [dbo].[Dashboards]
(
	[Folio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Incidencias_Folio]    Script Date: 07/04/2026 11:01:04 a. m. ******/
CREATE NONCLUSTERED INDEX [IX_Incidencias_Folio] ON [dbo].[Incidencias]
(
	[Folio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Solicitudes_Folio]    Script Date: 07/04/2026 11:01:04 a. m. ******/
CREATE NONCLUSTERED INDEX [IX_Solicitudes_Folio] ON [dbo].[Solicitudes]
(
	[Folio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_TicketImagenes_Ticket]    Script Date: 07/04/2026 11:01:04 a. m. ******/
CREATE NONCLUSTERED INDEX [IX_TicketImagenes_Ticket] ON [dbo].[TicketImagenes]
(
	[TipoTicket] ASC,
	[TicketID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Usuarios_Correo]    Script Date: 07/04/2026 11:01:04 a. m. ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Usuarios_Correo] ON [dbo].[Usuarios]
(
	[Correo] ASC
)
WHERE ([Activo]=(1))
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Areas] ADD  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[Auditoria] ADD  DEFAULT (getdate()) FOR [FechaAccion]
GO
ALTER TABLE [dbo].[Avisos] ADD  DEFAULT ('Info') FOR [Tipo]
GO
ALTER TABLE [dbo].[Avisos] ADD  DEFAULT (getdate()) FOR [Fecha]
GO
ALTER TABLE [dbo].[Avisos] ADD  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[Avisos] ADD  DEFAULT ((1)) FOR [CreadoPor]
GO
ALTER TABLE [dbo].[Avisos] ADD  DEFAULT (getdate()) FOR [FechaCreacion]
GO
ALTER TABLE [dbo].[AvisosComentarios] ADD  DEFAULT (getdate()) FOR [FechaComentario]
GO
ALTER TABLE [dbo].[AvisosReacciones] ADD  DEFAULT (getdate()) FOR [FechaReaccion]
GO
ALTER TABLE [dbo].[Comentarios] ADD  DEFAULT ((0)) FOR [EsRespuestaAdmin]
GO
ALTER TABLE [dbo].[Comentarios] ADD  DEFAULT (getdate()) FOR [FechaCreacion]
GO
ALTER TABLE [dbo].[DashboardImagenes] ADD  DEFAULT ((1)) FOR [Orden]
GO
ALTER TABLE [dbo].[DashboardImagenes] ADD  DEFAULT (getdate()) FOR [FechaSubida]
GO
ALTER TABLE [dbo].[DashboardPermisos] ADD  DEFAULT (getdate()) FOR [FechaOtorgado]
GO
ALTER TABLE [dbo].[Dashboards] ADD  DEFAULT ((0)) FOR [EsPrivado]
GO
ALTER TABLE [dbo].[Dashboards] ADD  DEFAULT (getdate()) FOR [FechaPublicacion]
GO
ALTER TABLE [dbo].[Dashboards] ADD  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[Dashboards] ADD  DEFAULT ((1)) FOR [UnidadID]
GO
ALTER TABLE [dbo].[Incidencias] ADD  DEFAULT ('Media') FOR [Prioridad]
GO
ALTER TABLE [dbo].[Incidencias] ADD  DEFAULT (getdate()) FOR [FechaCreacion]
GO
ALTER TABLE [dbo].[Notificaciones] ADD  DEFAULT ((0)) FOR [Leida]
GO
ALTER TABLE [dbo].[Notificaciones] ADD  DEFAULT (getdate()) FOR [FechaCreacion]
GO
ALTER TABLE [dbo].[Solicitudes] ADD  DEFAULT (getdate()) FOR [FechaCreacion]
GO
ALTER TABLE [dbo].[Solicitudes] ADD  DEFAULT ('Media') FOR [Prioridad]
GO
ALTER TABLE [dbo].[TicketImagenes] ADD  DEFAULT ((0)) FOR [TamanioBytes]
GO
ALTER TABLE [dbo].[TicketImagenes] ADD  DEFAULT (getdate()) FOR [FechaSubida]
GO
ALTER TABLE [dbo].[UnidadesNegocio] ADD  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[UnidadesNegocio] ADD  DEFAULT (getdate()) FOR [FechaCreacion]
GO
ALTER TABLE [dbo].[Usuarios] ADD  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[Usuarios] ADD  DEFAULT (getdate()) FOR [FechaCreacion]
GO
ALTER TABLE [dbo].[Auditoria]  WITH NOCHECK ADD  CONSTRAINT [FK_Aud_Usuario] FOREIGN KEY([UsuarioID])
REFERENCES [dbo].[Usuarios] ([UsuarioID])
GO
ALTER TABLE [dbo].[Auditoria] CHECK CONSTRAINT [FK_Aud_Usuario]
GO
ALTER TABLE [dbo].[AvisosComentarios]  WITH NOCHECK ADD FOREIGN KEY([AvisoID])
REFERENCES [dbo].[Avisos] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AvisosReacciones]  WITH NOCHECK ADD FOREIGN KEY([AvisoID])
REFERENCES [dbo].[Avisos] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Comentarios]  WITH NOCHECK ADD  CONSTRAINT [FK_Com_Autor] FOREIGN KEY([AutorID])
REFERENCES [dbo].[Usuarios] ([UsuarioID])
GO
ALTER TABLE [dbo].[Comentarios] CHECK CONSTRAINT [FK_Com_Autor]
GO
ALTER TABLE [dbo].[Comentarios]  WITH NOCHECK ADD  CONSTRAINT [FK_Com_Padre] FOREIGN KEY([ComentarioPadreID])
REFERENCES [dbo].[Comentarios] ([ComentarioID])
GO
ALTER TABLE [dbo].[Comentarios] CHECK CONSTRAINT [FK_Com_Padre]
GO
ALTER TABLE [dbo].[DashboardImagenes]  WITH NOCHECK ADD FOREIGN KEY([DashboardID])
REFERENCES [dbo].[Dashboards] ([DashboardID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DashboardPermisos]  WITH NOCHECK ADD  CONSTRAINT [FK_Permisos_Dashboard] FOREIGN KEY([DashboardID])
REFERENCES [dbo].[Dashboards] ([DashboardID])
GO
ALTER TABLE [dbo].[DashboardPermisos] CHECK CONSTRAINT [FK_Permisos_Dashboard]
GO
ALTER TABLE [dbo].[DashboardPermisos]  WITH NOCHECK ADD  CONSTRAINT [FK_Permisos_OtorgadoPor] FOREIGN KEY([OtorgadoPorID])
REFERENCES [dbo].[Usuarios] ([UsuarioID])
GO
ALTER TABLE [dbo].[DashboardPermisos] CHECK CONSTRAINT [FK_Permisos_OtorgadoPor]
GO
ALTER TABLE [dbo].[DashboardPermisos]  WITH NOCHECK ADD  CONSTRAINT [FK_Permisos_Usuario] FOREIGN KEY([UsuarioID])
REFERENCES [dbo].[Usuarios] ([UsuarioID])
GO
ALTER TABLE [dbo].[DashboardPermisos] CHECK CONSTRAINT [FK_Permisos_Usuario]
GO
ALTER TABLE [dbo].[Dashboards]  WITH NOCHECK ADD  CONSTRAINT [FK_Dashboards_UnidadesNegocio] FOREIGN KEY([UnidadID])
REFERENCES [dbo].[UnidadesNegocio] ([UnidadID])
GO
ALTER TABLE [dbo].[Dashboards] CHECK CONSTRAINT [FK_Dashboards_UnidadesNegocio]
GO
ALTER TABLE [dbo].[Dashboards]  WITH NOCHECK ADD  CONSTRAINT [FK_Dashboards_Usuarios] FOREIGN KEY([CreadoPorID])
REFERENCES [dbo].[Usuarios] ([UsuarioID])
GO
ALTER TABLE [dbo].[Dashboards] CHECK CONSTRAINT [FK_Dashboards_Usuarios]
GO
ALTER TABLE [dbo].[Incidencias]  WITH NOCHECK ADD  CONSTRAINT [FK_Inc_Asignado] FOREIGN KEY([AsignadoAID])
REFERENCES [dbo].[Usuarios] ([UsuarioID])
GO
ALTER TABLE [dbo].[Incidencias] CHECK CONSTRAINT [FK_Inc_Asignado]
GO
ALTER TABLE [dbo].[Incidencias]  WITH NOCHECK ADD  CONSTRAINT [FK_Inc_Dashboard] FOREIGN KEY([DashboardID])
REFERENCES [dbo].[Dashboards] ([DashboardID])
GO
ALTER TABLE [dbo].[Incidencias] CHECK CONSTRAINT [FK_Inc_Dashboard]
GO
ALTER TABLE [dbo].[Incidencias]  WITH NOCHECK ADD  CONSTRAINT [FK_Inc_Estatus] FOREIGN KEY([EstatusID])
REFERENCES [dbo].[Estatus] ([EstatusID])
GO
ALTER TABLE [dbo].[Incidencias] CHECK CONSTRAINT [FK_Inc_Estatus]
GO
ALTER TABLE [dbo].[Incidencias]  WITH NOCHECK ADD  CONSTRAINT [FK_Inc_Reportado] FOREIGN KEY([ReportadoPorID])
REFERENCES [dbo].[Usuarios] ([UsuarioID])
GO
ALTER TABLE [dbo].[Incidencias] CHECK CONSTRAINT [FK_Inc_Reportado]
GO
ALTER TABLE [dbo].[Incidencias]  WITH NOCHECK ADD  CONSTRAINT [FK_Inc_Tipo] FOREIGN KEY([TipoIncidenciaID])
REFERENCES [dbo].[TiposIncidencia] ([TipoID])
GO
ALTER TABLE [dbo].[Incidencias] CHECK CONSTRAINT [FK_Inc_Tipo]
GO
ALTER TABLE [dbo].[Notificaciones]  WITH NOCHECK ADD FOREIGN KEY([UsuarioID])
REFERENCES [dbo].[Usuarios] ([UsuarioID])
GO
ALTER TABLE [dbo].[Solicitudes]  WITH NOCHECK ADD  CONSTRAINT [FK_Sol_Asignado] FOREIGN KEY([AsignadoAID])
REFERENCES [dbo].[Usuarios] ([UsuarioID])
GO
ALTER TABLE [dbo].[Solicitudes] CHECK CONSTRAINT [FK_Sol_Asignado]
GO
ALTER TABLE [dbo].[Solicitudes]  WITH NOCHECK ADD  CONSTRAINT [FK_Sol_Dashboard] FOREIGN KEY([DashboardID])
REFERENCES [dbo].[Dashboards] ([DashboardID])
GO
ALTER TABLE [dbo].[Solicitudes] CHECK CONSTRAINT [FK_Sol_Dashboard]
GO
ALTER TABLE [dbo].[Solicitudes]  WITH NOCHECK ADD  CONSTRAINT [FK_Sol_Estatus] FOREIGN KEY([EstatusID])
REFERENCES [dbo].[Estatus] ([EstatusID])
GO
ALTER TABLE [dbo].[Solicitudes] CHECK CONSTRAINT [FK_Sol_Estatus]
GO
ALTER TABLE [dbo].[Solicitudes]  WITH NOCHECK ADD  CONSTRAINT [FK_Sol_Solicitado] FOREIGN KEY([SolicitadoPorID])
REFERENCES [dbo].[Usuarios] ([UsuarioID])
GO
ALTER TABLE [dbo].[Solicitudes] CHECK CONSTRAINT [FK_Sol_Solicitado]
GO
ALTER TABLE [dbo].[Solicitudes]  WITH NOCHECK ADD  CONSTRAINT [FK_Sol_Tipo] FOREIGN KEY([TipoSolicitudID])
REFERENCES [dbo].[TiposSolicitud] ([TipoID])
GO
ALTER TABLE [dbo].[Solicitudes] CHECK CONSTRAINT [FK_Sol_Tipo]
GO
ALTER TABLE [dbo].[Usuarios]  WITH NOCHECK ADD  CONSTRAINT [FK_Usuarios_Areas] FOREIGN KEY([AreaID])
REFERENCES [dbo].[Areas] ([AreaID])
GO
ALTER TABLE [dbo].[Usuarios] CHECK CONSTRAINT [FK_Usuarios_Areas]
GO
ALTER TABLE [dbo].[Usuarios]  WITH NOCHECK ADD  CONSTRAINT [FK_Usuarios_Roles] FOREIGN KEY([RolID])
REFERENCES [dbo].[Roles] ([RolID])
GO
ALTER TABLE [dbo].[Usuarios] CHECK CONSTRAINT [FK_Usuarios_Roles]
GO
ALTER TABLE [dbo].[Comentarios]  WITH NOCHECK ADD CHECK  (([TipoRegistro]='Solicitud' OR [TipoRegistro]='Incidencia'))
GO
ALTER TABLE [dbo].[Estatus]  WITH NOCHECK ADD CHECK  (([AplicaA]='Ambos' OR [AplicaA]='Solicitud' OR [AplicaA]='Incidencia'))
GO
ALTER TABLE [dbo].[Incidencias]  WITH NOCHECK ADD CHECK  (([Prioridad]='Critica' OR [Prioridad]='Alta' OR [Prioridad]='Media' OR [Prioridad]='Baja'))
GO
ALTER TABLE [dbo].[Solicitudes]  WITH NOCHECK ADD CHECK  (([Prioridad]='Critica' OR [Prioridad]='Alta' OR [Prioridad]='Media' OR [Prioridad]='Baja'))
GO
/****** Object:  StoredProcedure [dbo].[sp_Areas_Actualizar]    Script Date: 07/04/2026 11:01:04 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_Areas_Actualizar]
    @AreaID      INT,
    @NombreArea  NVARCHAR(100),
    @Descripcion NVARCHAR(300) = NULL,
    @IconoURL    NVARCHAR(300) = NULL,
    @Activo      BIT = 1
AS
BEGIN
    SET NOCOUNT ON;
    UPDATE Areas
    SET NombreArea = @NombreArea, Descripcion = @Descripcion,
        IconoURL = @IconoURL, Activo = @Activo
    WHERE AreaID = @AreaID;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Areas_Crear]    Script Date: 07/04/2026 11:01:04 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_Areas_Crear]
    @NombreArea  NVARCHAR(100),
    @Descripcion NVARCHAR(300) = NULL,
    @IconoURL    NVARCHAR(300) = NULL,
    @NuevoID     INT OUTPUT
AS
BEGIN
    SET NOCOUNT ON;
    INSERT INTO Areas (NombreArea, Descripcion, IconoURL, Activo)
    VALUES (@NombreArea, @Descripcion, @IconoURL, 1);
    SET @NuevoID = SCOPE_IDENTITY();
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Areas_Eliminar]    Script Date: 07/04/2026 11:01:04 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_Areas_Eliminar]
    @AreaID INT
AS
BEGIN
    SET NOCOUNT ON;
    IF EXISTS (SELECT 1 FROM Dashboards WHERE AreaID = @AreaID)
    BEGIN
        -- Desactivar en lugar de eliminar para preservar integridad
        UPDATE Areas SET Activo = 0 WHERE AreaID = @AreaID;
        PRINT 'Área desactivada (tiene Dashboards asociados).';
    END
    ELSE
        DELETE FROM Areas WHERE AreaID = @AreaID;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Areas_ObtenerPorID]    Script Date: 07/04/2026 11:01:04 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_Areas_ObtenerPorID]
    @AreaID INT
AS
BEGIN
    SET NOCOUNT ON;
    SELECT AreaID, NombreArea, Descripcion, IconoURL, Activo
    FROM Areas WHERE AreaID = @AreaID;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Areas_ObtenerTodas]    Script Date: 07/04/2026 11:01:04 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ============================================================
--  MÓDULO: AREAS
-- ============================================================

CREATE   PROCEDURE [dbo].[sp_Areas_ObtenerTodas]
    @SoloActivas BIT = 1
AS
BEGIN
    SET NOCOUNT ON;
    SELECT AreaID, NombreArea, Descripcion, IconoURL, Activo
    FROM Areas
    WHERE (@SoloActivas = 0 OR Activo = 1)
    ORDER BY NombreArea;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Auditoria_ObtenerPorUsuario]    Script Date: 07/04/2026 11:01:04 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_Auditoria_ObtenerPorUsuario]
    @UsuarioID INT,
    @Top       INT = 50
AS
BEGIN
    SET NOCOUNT ON;
    SELECT TOP (@Top) a.AuditoriaID, a.Accion, a.TablaAfectada,
           a.RegistroID, a.Detalle, a.FechaAccion, a.IPOrigen,
           u.Nombre AS Usuario
    FROM Auditoria a
    INNER JOIN Usuarios u ON u.UsuarioID = a.UsuarioID
    WHERE a.UsuarioID = @UsuarioID
    ORDER BY a.FechaAccion DESC;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Auditoria_ObtenerRecientes]    Script Date: 07/04/2026 11:01:04 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_Auditoria_ObtenerRecientes]
    @Top INT = 100
AS
BEGIN
    SET NOCOUNT ON;
    SELECT TOP (@Top) a.AuditoriaID, a.Accion, a.TablaAfectada,
           a.RegistroID, a.Detalle, a.FechaAccion, a.IPOrigen,
           u.Nombre AS Usuario
    FROM Auditoria a
    INNER JOIN Usuarios u ON u.UsuarioID = a.UsuarioID
    ORDER BY a.FechaAccion DESC;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Auditoria_Registrar]    Script Date: 07/04/2026 11:01:04 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ============================================================
--  MÓDULO: AUDITORÍA
-- ============================================================

CREATE   PROCEDURE [dbo].[sp_Auditoria_Registrar]
    @UsuarioID     INT,
    @Accion        NVARCHAR(100),
    @TablaAfectada NVARCHAR(50) = NULL,
    @RegistroID    INT          = NULL,
    @Detalle       NVARCHAR(MAX) = NULL,
    @IPOrigen      NVARCHAR(50) = NULL
AS
BEGIN
    SET NOCOUNT ON;
    INSERT INTO Auditoria (UsuarioID, Accion, TablaAfectada, RegistroID, Detalle, FechaAccion, IPOrigen)
    VALUES (@UsuarioID, @Accion, @TablaAfectada, @RegistroID, @Detalle, GETDATE(), @IPOrigen);
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Avisos_Actualizar]    Script Date: 07/04/2026 11:01:04 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_Avisos_Actualizar]
    @Id        INT,
    @Titulo    NVARCHAR(150),
    @Contenido NVARCHAR(1000),
    @Tipo      NVARCHAR(30),
    @Fecha     DATE,
    @Activo    BIT
AS
BEGIN
    SET NOCOUNT ON;
    UPDATE Avisos SET
        Titulo = @Titulo, Contenido = @Contenido, Tipo = @Tipo,
        Fecha = @Fecha, Activo = @Activo, FechaModificacion = GETDATE()
    WHERE Id = @Id;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_Avisos_CambiarEstado]    Script Date: 07/04/2026 11:01:04 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_Avisos_CambiarEstado]
    @Id     INT,
    @Activo BIT
AS
BEGIN
    SET NOCOUNT ON;
    UPDATE Avisos SET Activo = @Activo, FechaModificacion = GETDATE()
    WHERE Id = @Id;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_Avisos_Crear]    Script Date: 07/04/2026 11:01:04 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_Avisos_Crear]
    @Titulo    NVARCHAR(150),
    @Contenido NVARCHAR(1000),
    @Tipo      NVARCHAR(30),
    @Fecha     DATE,
    @CreadoPor INT
AS
BEGIN
    SET NOCOUNT ON;
    INSERT INTO Avisos (Titulo, Contenido, Tipo, Fecha, Activo, CreadoPor, FechaCreacion)
    VALUES (@Titulo, @Contenido, @Tipo, @Fecha, 1, @CreadoPor, GETDATE());
    SELECT SCOPE_IDENTITY() AS Id;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_Avisos_Eliminar]    Script Date: 07/04/2026 11:01:04 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_Avisos_Eliminar]
    @Id INT
AS
BEGIN
    SET NOCOUNT ON;
    DELETE FROM AvisosComentarios WHERE AvisoID = @Id;
    DELETE FROM Avisos WHERE Id = @Id;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_Avisos_Listar]    Script Date: 07/04/2026 11:01:04 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Avisos_Listar]  
    @SoloActivos BIT = 1  
AS  
BEGIN  
    SET NOCOUNT ON;  
    SELECT  
        a.Id, a.Titulo, a.Contenido, a.Tipo, a.Fecha,  
        a.Activo, a.CreadoPor, a.FechaCreacion, a.FechaModificacion,  
        u.Nombre AS CreadoPorNombre,  
        (SELECT COUNT(*) FROM AvisosComentarios c WHERE c.AvisoID = a.Id) AS TotalComentarios  
    FROM Avisos a  
    INNER JOIN Usuarios u ON u.UsuarioID = a.CreadoPor  
    WHERE (@SoloActivos = 0 OR a.Activo = 1)
    AND   (a.Fecha >= CAST(GETDATE() AS DATE))
    ORDER BY a.Fecha ASC;  -- ← más próximo primero
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_Avisos_Obtener]    Script Date: 07/04/2026 11:01:04 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_Avisos_Obtener]
    @Id INT
AS
BEGIN
    SET NOCOUNT ON;
    SELECT
        a.Id, a.Titulo, a.Contenido, a.Tipo, a.Fecha,
        a.Activo, a.CreadoPor, a.FechaCreacion, a.FechaModificacion,
        u.Nombre AS CreadoPorNombre,
        (SELECT COUNT(*) FROM AvisosComentarios c WHERE c.AvisoID = a.Id) AS TotalComentarios
    FROM Avisos a
    INNER JOIN Usuarios u ON u.UsuarioID = a.CreadoPor
    WHERE a.Id = @Id;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_AvisosComentarios_Crear]    Script Date: 07/04/2026 11:01:04 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_AvisosComentarios_Crear]
    @AvisoID   INT,
    @UsuarioID INT,
    @Mensaje   NVARCHAR(MAX)
AS
BEGIN
    SET NOCOUNT ON;
    INSERT INTO AvisosComentarios (AvisoID, UsuarioID, Mensaje, FechaComentario)
    VALUES (@AvisoID, @UsuarioID, @Mensaje, GETDATE());
    SELECT SCOPE_IDENTITY() AS ComentarioID;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_AvisosComentarios_Eliminar]    Script Date: 07/04/2026 11:01:04 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_AvisosComentarios_Eliminar]
    @ComentarioID INT
AS
BEGIN
    SET NOCOUNT ON;
    DELETE FROM AvisosComentarios WHERE ComentarioID = @ComentarioID;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_AvisosComentarios_Listar]    Script Date: 07/04/2026 11:01:04 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_AvisosComentarios_Listar]
    @AvisoID INT
AS
BEGIN
    SET NOCOUNT ON;
    SELECT
        c.ComentarioID, c.AvisoID, c.UsuarioID,
        u.Nombre AS AutorNombre,
        r.NombreRol AS RolNombre,
        c.Mensaje, c.FechaComentario
    FROM AvisosComentarios c
    INNER JOIN Usuarios u ON u.UsuarioID = c.UsuarioID
    INNER JOIN Roles r    ON r.RolID     = u.RolID
    WHERE c.AvisoID = @AvisoID
    ORDER BY c.FechaComentario ASC;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_AvisosReacciones_Obtener]    Script Date: 07/04/2026 11:01:04 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_AvisosReacciones_Obtener]
    @AvisoID   INT,
    @UsuarioID INT
AS
BEGIN
    SET NOCOUNT ON;
    SELECT
        Tipo,
        COUNT(*) AS Total,
        MAX(CASE WHEN UsuarioID = @UsuarioID THEN 1 ELSE 0 END) AS YoReaccione
    FROM AvisosReacciones
    WHERE AvisoID = @AvisoID
    GROUP BY Tipo;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_AvisosReacciones_Toggle]    Script Date: 07/04/2026 11:01:04 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_AvisosReacciones_Toggle]
    @AvisoID   INT,
    @UsuarioID INT,
    @Tipo      NVARCHAR(20)
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @TipoActual NVARCHAR(20) = NULL;
    SELECT @TipoActual = Tipo 
    FROM AvisosReacciones 
    WHERE AvisoID = @AvisoID AND UsuarioID = @UsuarioID;

    IF @TipoActual = @Tipo
        -- Mismo tipo: quitar reacción
        DELETE FROM AvisosReacciones 
        WHERE AvisoID = @AvisoID AND UsuarioID = @UsuarioID;
    ELSE
    BEGIN
        -- Diferente o ninguna: borrar la anterior e insertar la nueva
        DELETE FROM AvisosReacciones 
        WHERE AvisoID = @AvisoID AND UsuarioID = @UsuarioID;
        
        INSERT INTO AvisosReacciones (AvisoID, UsuarioID, Tipo) 
        VALUES (@AvisoID, @UsuarioID, @Tipo);
    END

    -- Devolver conteos actualizados
    SELECT Tipo, COUNT(*) AS Total,
           MAX(CASE WHEN UsuarioID = @UsuarioID THEN 1 ELSE 0 END) AS YoReaccione
    FROM AvisosReacciones
    WHERE AvisoID = @AvisoID
    GROUP BY Tipo;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_Comentarios_Agregar]    Script Date: 07/04/2026 11:01:04 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_Comentarios_Agregar]
    @TipoRegistro     NVARCHAR(20),
    @RegistroID       INT,
    @AutorID          INT,
    @EsRespuestaAdmin BIT,
    @Mensaje          NVARCHAR(MAX),
    @ComentarioPadreID INT = NULL,
    @NuevoID          INT OUTPUT
AS
BEGIN
    SET NOCOUNT ON;
    INSERT INTO Comentarios (TipoRegistro, RegistroID, AutorID, EsRespuestaAdmin,
                             Mensaje, FechaCreacion, ComentarioPadreID)
    VALUES (@TipoRegistro, @RegistroID, @AutorID, @EsRespuestaAdmin,
            @Mensaje, GETDATE(), @ComentarioPadreID);
    SET @NuevoID = SCOPE_IDENTITY();
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Comentarios_Editar]    Script Date: 07/04/2026 11:01:04 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_Comentarios_Editar]
    @ComentarioID INT,
    @Mensaje      NVARCHAR(MAX)
AS
BEGIN
    SET NOCOUNT ON;
    UPDATE Comentarios SET Mensaje = @Mensaje WHERE ComentarioID = @ComentarioID;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Comentarios_Eliminar]    Script Date: 07/04/2026 11:01:04 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_Comentarios_Eliminar]
    @ComentarioID INT
AS
BEGIN
    SET NOCOUNT ON;
    -- Eliminar respuestas hijas antes del padre
    DELETE FROM Comentarios WHERE ComentarioPadreID = @ComentarioID;
    DELETE FROM Comentarios WHERE ComentarioID = @ComentarioID;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Comentarios_ObtenerPorTicket]    Script Date: 07/04/2026 11:01:04 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ============================================================
--  MÓDULO: COMENTARIOS / NOTAS  (tipo ServiceNow)
-- ============================================================

CREATE   PROCEDURE [dbo].[sp_Comentarios_ObtenerPorTicket]
    @TipoRegistro NVARCHAR(20),  -- 'Incidencia' o 'Solicitud'
    @RegistroID   INT
AS
BEGIN
    SET NOCOUNT ON;
    SELECT c.ComentarioID, c.TipoRegistro, c.RegistroID,
           c.AutorID, u.Nombre AS Autor, u.Correo AS AutorCorreo,
           c.EsRespuestaAdmin, c.Mensaje, c.FechaCreacion,
           c.ComentarioPadreID
    FROM Comentarios c
    INNER JOIN Usuarios u ON u.UsuarioID = c.AutorID
    WHERE c.TipoRegistro = @TipoRegistro AND c.RegistroID = @RegistroID
    ORDER BY c.FechaCreacion ASC;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Dashboards_Actualizar]    Script Date: 07/04/2026 11:01:04 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 3. Actualizar SP Actualizar
CREATE PROCEDURE [dbo].[sp_Dashboards_Actualizar]
    @DashboardID          INT,
    @Nombre               NVARCHAR(150),
    @Descripcion          NVARCHAR(500)  = NULL,
    @UnidadID             INT,
    @URLReporte           NVARCHAR(500),
    @URLAdmin             NVARCHAR(500)  = NULL,
    @EsPrivado            BIT,
    @Activo               BIT,
    @ImagenURL            NVARCHAR(500)  = NULL,
    @ImagenData           VARBINARY(MAX) = NULL,
    @ImagenTipo           NVARCHAR(100)  = NULL,
    @DocumentacionData    VARBINARY(MAX) = NULL,
    @DocumentacionNombre  NVARCHAR(255)  = NULL,
    @DocumentacionTipo    NVARCHAR(100)  = NULL,
    @EliminarDoc          BIT            = 0,
    @Nivel                NVARCHAR(20)   = NULL
AS
BEGIN
    SET NOCOUNT ON;
    UPDATE Dashboards
    SET Nombre      = @Nombre,
        Descripcion = @Descripcion,
        UnidadID    = @UnidadID,
        URLReporte  = @URLReporte,
        URLAdmin    = @URLAdmin,
        EsPrivado   = @EsPrivado,
        Activo      = @Activo,
        Nivel       = @Nivel,
        ImagenURL   = CASE WHEN @ImagenURL  IS NOT NULL THEN @ImagenURL  ELSE ImagenURL  END,
        ImagenData  = CASE WHEN @ImagenData IS NOT NULL THEN @ImagenData ELSE ImagenData END,
        ImagenTipo  = CASE WHEN @ImagenTipo IS NOT NULL THEN @ImagenTipo ELSE ImagenTipo END,
        DocumentacionData   = CASE
                                WHEN @DocumentacionData   IS NOT NULL THEN @DocumentacionData
                                WHEN @EliminarDoc = 1                 THEN NULL
                                ELSE DocumentacionData
                              END,
        DocumentacionNombre = CASE
                                WHEN @DocumentacionNombre IS NOT NULL THEN @DocumentacionNombre
                                WHEN @EliminarDoc = 1                 THEN NULL
                                ELSE DocumentacionNombre
                              END,
        DocumentacionTipo   = CASE
                                WHEN @DocumentacionTipo   IS NOT NULL THEN @DocumentacionTipo
                                WHEN @EliminarDoc = 1                 THEN NULL
                                ELSE DocumentacionTipo
                              END
    WHERE DashboardID = @DashboardID;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_Dashboards_Crear]    Script Date: 07/04/2026 11:01:04 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 2. Actualizar SP Crear
CREATE PROCEDURE [dbo].[sp_Dashboards_Crear]
    @Nombre               NVARCHAR(150),
    @Descripcion          NVARCHAR(500)  = NULL,
    @UnidadID             INT,
    @URLReporte           NVARCHAR(500),
    @URLAdmin             NVARCHAR(500)  = NULL,
    @EsPrivado            BIT            = 0,
    @CreadoPorID          INT,
    @ImagenURL            NVARCHAR(500)  = NULL,
    @ImagenData           VARBINARY(MAX) = NULL,
    @ImagenTipo           NVARCHAR(50)   = NULL,
    @DocumentacionData    VARBINARY(MAX) = NULL,
    @DocumentacionNombre  NVARCHAR(255)  = NULL,
    @DocumentacionTipo    NVARCHAR(100)  = NULL,
    @Nivel                NVARCHAR(20)   = NULL,
    @NuevoID              INT            OUTPUT,
    @Folio                NVARCHAR(20)   OUTPUT
AS
BEGIN
    SET NOCOUNT ON;
    DECLARE @Anio NVARCHAR(4) = CAST(YEAR(GETDATE()) AS NVARCHAR(4));
    DECLARE @Seq  INT;
    SELECT @Seq = COUNT(*) + 1 FROM Dashboards WHERE YEAR(FechaPublicacion) = YEAR(GETDATE());
    SET @Folio = 'DASH-' + @Anio + '-' + RIGHT('000' + CAST(@Seq AS NVARCHAR(3)), 3);

    INSERT INTO Dashboards (
        Folio, Nombre, Descripcion, UnidadID, URLReporte, URLAdmin, EsPrivado,
        FechaPublicacion, CreadoPorID, Activo,
        ImagenURL, ImagenData, ImagenTipo,
        DocumentacionData, DocumentacionNombre, DocumentacionTipo,
        Nivel
    )
    VALUES (
        @Folio, @Nombre, @Descripcion, @UnidadID, @URLReporte, @URLAdmin, @EsPrivado,
        GETDATE(), @CreadoPorID, 1,
        @ImagenURL, @ImagenData, @ImagenTipo,
        @DocumentacionData, @DocumentacionNombre, @DocumentacionTipo,
        @Nivel
    );

    SET @NuevoID = SCOPE_IDENTITY();
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_Dashboards_Desactivar]    Script Date: 07/04/2026 11:01:04 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_Dashboards_Desactivar]
    @DashboardID INT
AS
BEGIN
    SET NOCOUNT ON;
    UPDATE Dashboards SET Activo = 0 WHERE DashboardID = @DashboardID;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Dashboards_ObtenerPorFolio]    Script Date: 07/04/2026 11:01:04 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_Dashboards_ObtenerPorFolio]
    @Folio NVARCHAR(20)
AS
BEGIN
    SET NOCOUNT ON;
    DECLARE @DashboardID INT;
    SELECT @DashboardID = DashboardID FROM Dashboards WHERE Folio = @Folio;
    EXEC sp_Dashboards_ObtenerPorID @DashboardID = @DashboardID;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Dashboards_ObtenerPorID]    Script Date: 07/04/2026 11:01:04 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Dashboards_ObtenerPorID]
    @DashboardID INT,
    @UsuarioID   INT = NULL
AS
BEGIN
    SET NOCOUNT ON;
    SELECT
        d.DashboardID,
        d.Folio,
        d.Nombre,
        d.Descripcion,
        d.URLReporte,
        d.URLAdmin,
        d.EsPrivado,
        d.Activo,
        d.UnidadID,
        d.Nivel,
        un.Nombre      AS NombreUnidad,
        u.Nombre       AS CreadoPor,
        d.FechaPublicacion,
        d.DocumentacionNombre,
        d.DocumentacionTipo,
        CAST(CASE WHEN d.DocumentacionData IS NOT NULL THEN 1 ELSE 0 END AS BIT) AS TieneDocumentacion,
        CAST(
            CASE
                WHEN d.EsPrivado = 0 THEN 1
                WHEN @UsuarioID IS NULL THEN 1
                WHEN EXISTS (
                    SELECT 1 FROM Usuarios us
                    JOIN Roles r ON us.RolID = r.RolID
                    WHERE us.UsuarioID = @UsuarioID AND r.NombreRol = 'Administrador'
                ) THEN 1
                WHEN EXISTS (
                    SELECT 1 FROM DashboardPermisos dp
                    WHERE dp.DashboardID = d.DashboardID AND dp.UsuarioID = @UsuarioID
                ) THEN 1
                ELSE 0
            END
        AS BIT) AS TieneAcceso,
        CASE
            WHEN EXISTS (SELECT 1 FROM DashboardImagenes WHERE DashboardID = d.DashboardID)
                THEN (SELECT TOP 1 URLImagen FROM DashboardImagenes WHERE DashboardID = d.DashboardID ORDER BY Orden)
            WHEN d.ImagenURL IS NOT NULL AND d.ImagenURL <> ''
                THEN d.ImagenURL
            WHEN d.ImagenData IS NOT NULL
                THEN '/Dashboards/Imagen?id=' + CAST(d.DashboardID AS NVARCHAR(10))
            ELSE NULL
        END AS ImagenPrincipal
    FROM       Dashboards      d
    JOIN       UnidadesNegocio un ON d.UnidadID    = un.UnidadID
    JOIN       Usuarios        u  ON d.CreadoPorID = u.UsuarioID
    WHERE      d.DashboardID = @DashboardID;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_Dashboards_ObtenerTodos]    Script Date: 07/04/2026 11:01:04 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Dashboards_ObtenerTodos]
    @UnidadID    INT = NULL,
    @SoloActivos BIT = 1,
    @UsuarioID   INT = NULL
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @EsAdmin BIT = 0;
    IF @UsuarioID IS NOT NULL
    BEGIN
        IF EXISTS (
            SELECT 1 FROM Usuarios us
            JOIN Roles r ON us.RolID = r.RolID
            WHERE us.UsuarioID = @UsuarioID AND r.NombreRol = 'Administrador'
        )
        SET @EsAdmin = 1;
    END

    SELECT
        d.DashboardID,
        d.Folio,
        d.Nombre,
        d.Descripcion,
        d.URLReporte,
        d.URLAdmin,
        d.EsPrivado,
        d.Activo,
        d.UnidadID,
        d.Nivel,
        un.Nombre       AS NombreUnidad,
        u.Nombre        AS CreadoPor,
        d.FechaPublicacion,
        CAST(CASE WHEN d.DocumentacionData IS NOT NULL THEN 1 ELSE 0 END AS BIT) AS TieneDocumentacion,
        d.DocumentacionNombre,
        d.DocumentacionTipo,
        CAST(
            CASE
                WHEN d.EsPrivado = 0    THEN 1
                WHEN @UsuarioID IS NULL THEN 1
                WHEN @EsAdmin   = 1     THEN 1
                WHEN EXISTS (
                    SELECT 1 FROM DashboardPermisos dp
                    WHERE dp.DashboardID = d.DashboardID
                      AND dp.UsuarioID   = @UsuarioID
                ) THEN 1
                ELSE 0
            END
        AS BIT) AS TieneAcceso,
        COALESCE(
            di.URLImagen,
            NULLIF(d.ImagenURL, ''),
            CASE WHEN d.ImagenData IS NOT NULL
                 THEN '/Dashboards/Imagen?id=' + CAST(d.DashboardID AS NVARCHAR(10))
            END
        ) AS ImagenPrincipal
    FROM      Dashboards      d
    JOIN      UnidadesNegocio un ON d.UnidadID    = un.UnidadID
    JOIN      Usuarios        u  ON d.CreadoPorID = u.UsuarioID
    LEFT JOIN (
        SELECT DashboardID, URLImagen
        FROM (
            SELECT DashboardID, URLImagen,
                   ROW_NUMBER() OVER (PARTITION BY DashboardID ORDER BY Orden) AS rn
            FROM DashboardImagenes
        ) x WHERE rn = 1
    ) di ON di.DashboardID = d.DashboardID
    WHERE  (@UnidadID    IS NULL OR d.UnidadID = @UnidadID)
    AND    (@SoloActivos = 0     OR d.Activo   = 1)
    ORDER BY d.FechaPublicacion DESC;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_Dashboards_Recientes]    Script Date: 07/04/2026 11:01:04 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Dashboards_Recientes]  
    @Top INT = 6  
AS  
BEGIN  
    SELECT TOP (@Top)  
        d.DashboardID,  
        d.Folio,  
        d.Nombre,  
        d.Descripcion,  
        d.URLReporte,  
        d.EsPrivado,  
        d.Activo,  
        d.UnidadID,  
        un.Nombre        AS NombreUnidad,  
        u.Nombre         AS CreadoPor,  
        d.FechaPublicacion,
        -- Documentación
        CAST(CASE WHEN d.DocumentacionData IS NOT NULL THEN 1 ELSE 0 END AS BIT) AS TieneDocumentacion,
        d.DocumentacionNombre,
        d.DocumentacionTipo,
        CAST(1 AS BIT)   AS TieneAcceso,  
        CASE  
            WHEN EXISTS (SELECT 1 FROM DashboardImagenes WHERE DashboardID = d.DashboardID)  
                THEN (SELECT TOP 1 URLImagen FROM DashboardImagenes WHERE DashboardID = d.DashboardID ORDER BY Orden)  
            WHEN d.ImagenURL IS NOT NULL AND d.ImagenURL <> ''  
                THEN d.ImagenURL  
            WHEN d.ImagenData IS NOT NULL  
                THEN '/Dashboards/Imagen?id=' + CAST(d.DashboardID AS NVARCHAR(10))  
            ELSE NULL  
        END AS ImagenPrincipal
    FROM Dashboards d  
    LEFT JOIN UnidadesNegocio un ON d.UnidadID    = un.UnidadID  
    LEFT JOIN Usuarios u         ON d.CreadoPorID = u.UsuarioID  
    WHERE d.Activo = 1  
    ORDER BY d.FechaPublicacion DESC;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_DashPermisos_ObtenerPorDashboard]    Script Date: 07/04/2026 11:01:04 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_DashPermisos_ObtenerPorDashboard]
    @DashboardID INT
AS
BEGIN
    SET NOCOUNT ON;
    SELECT p.PermisoID, p.UsuarioID, u.Nombre, u.Correo,
           p.FechaOtorgado, o.Nombre AS OtorgadoPor,
           r.NombreRol                              -- ← nuevo
    FROM DashboardPermisos p
    INNER JOIN Usuarios u ON u.UsuarioID = p.UsuarioID
    INNER JOIN Usuarios o ON o.UsuarioID = p.OtorgadoPorID
    INNER JOIN Roles    r ON r.RolID     = u.RolID  -- ← nuevo
    WHERE p.DashboardID = @DashboardID;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_DashPermisos_Otorgar]    Script Date: 07/04/2026 11:01:04 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_DashPermisos_Otorgar]
    @DashboardID   INT,
    @UsuarioID     INT,
    @OtorgadoPorID INT,
    @NuevoID       INT OUTPUT
AS
BEGIN
    SET NOCOUNT ON;
    IF EXISTS (SELECT 1 FROM DashboardPermisos WHERE DashboardID = @DashboardID AND UsuarioID = @UsuarioID)
    BEGIN
        PRINT 'El usuario ya tiene permiso sobre este Dashboard.';
        RETURN;
    END
    INSERT INTO DashboardPermisos (DashboardID, UsuarioID, FechaOtorgado, OtorgadoPorID)
    VALUES (@DashboardID, @UsuarioID, GETDATE(), @OtorgadoPorID);
    SET @NuevoID = SCOPE_IDENTITY();
END
GO
/****** Object:  StoredProcedure [dbo].[sp_DashPermisos_Revocar]    Script Date: 07/04/2026 11:01:04 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_DashPermisos_Revocar]
    @DashboardID INT,
    @UsuarioID   INT
AS
BEGIN
    SET NOCOUNT ON;
    DELETE FROM DashboardPermisos
    WHERE DashboardID = @DashboardID AND UsuarioID = @UsuarioID;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_DashPermisos_VerificarAcceso]    Script Date: 07/04/2026 11:01:04 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_DashPermisos_VerificarAcceso]
    @DashboardID INT,
    @UsuarioID   INT,
    @TieneAcceso BIT OUTPUT
AS
BEGIN
    SET NOCOUNT ON;
    SET @TieneAcceso = 0;

    -- Admin siempre tiene acceso
    IF EXISTS (
        SELECT 1 FROM Usuarios u INNER JOIN Roles r ON r.RolID = u.RolID
        WHERE u.UsuarioID = @UsuarioID AND r.NombreRol = 'Administrador'
    ) BEGIN SET @TieneAcceso = 1; RETURN; END

    -- Dashboard público
    IF EXISTS (SELECT 1 FROM Dashboards WHERE DashboardID = @DashboardID AND EsPrivado = 0 AND Activo = 1)
    BEGIN SET @TieneAcceso = 1; RETURN; END

    -- Dashboard privado con permiso
    IF EXISTS (SELECT 1 FROM DashboardPermisos WHERE DashboardID = @DashboardID AND UsuarioID = @UsuarioID)
        SET @TieneAcceso = 1;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Estadisticas_General]    Script Date: 07/04/2026 11:01:04 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Estadisticas_General]
    @FechaInicio DATETIME = NULL,
    @FechaFin    DATETIME = NULL
AS
BEGIN
    SET NOCOUNT ON;

    -- Defaults: último mes
    IF @FechaInicio IS NULL SET @FechaInicio = DATEADD(MONTH,-1,GETDATE());
    IF @FechaFin    IS NULL SET @FechaFin    = GETDATE();

    -- RS0: Usuarios
    SELECT COUNT(*) AS TotalUsuarios,
           SUM(CASE WHEN Activo = 1 THEN 1 ELSE 0 END) AS UsuariosActivos,
           SUM(CASE WHEN Activo = 0 THEN 1 ELSE 0 END) AS UsuariosInactivos,
           SUM(CASE WHEN UltimoAcceso >= @FechaInicio THEN 1 ELSE 0 END) AS ActivosUltima7Dias
    FROM Usuarios;

    -- RS1: Dashboards
    SELECT COUNT(*) AS TotalDashboards,
           SUM(CASE WHEN Activo = 1 THEN 1 ELSE 0 END) AS DashboardsActivos,
           SUM(CASE WHEN EsPrivado = 1 THEN 1 ELSE 0 END) AS DashboardsPrivados,
           SUM(CASE WHEN EsPrivado = 0 THEN 1 ELSE 0 END) AS DashboardsPublicos
    FROM Dashboards;

    -- RS2: Incidencias resumen
    SELECT COUNT(*) AS TotalIncidencias,
           ISNULL(SUM(CASE WHEN e.NombreEstatus NOT IN ('Resuelto','Cerrado') THEN 1 ELSE 0 END), 0) AS IncidenciasAbiertas
    FROM Incidencias i LEFT JOIN Estatus e ON i.EstatusID = e.EstatusID
    WHERE i.FechaCreacion BETWEEN @FechaInicio AND @FechaFin;

    -- RS3: Solicitudes resumen
    SELECT COUNT(*) AS TotalSolicitudes,
           ISNULL(SUM(CASE WHEN e.NombreEstatus NOT IN ('Resuelta','Cerrada') THEN 1 ELSE 0 END), 0) AS SolicitudesPendientes
    FROM Solicitudes s LEFT JOIN Estatus e ON s.EstatusID = e.EstatusID
    WHERE s.FechaCreacion BETWEEN @FechaInicio AND @FechaFin;

    -- RS4: Incidencias por tipo
    SELECT t.Nombre AS Tipo, COUNT(*) AS Total
    FROM Incidencias i JOIN TiposIncidencia t ON i.TipoIncidenciaID = t.TipoID
    WHERE i.FechaCreacion BETWEEN @FechaInicio AND @FechaFin
    GROUP BY t.Nombre ORDER BY Total DESC;

    -- RS5: Incidencias por prioridad
    SELECT Prioridad, COUNT(*) AS Total
    FROM Incidencias
    WHERE FechaCreacion BETWEEN @FechaInicio AND @FechaFin
    GROUP BY Prioridad ORDER BY Total DESC;

    -- RS6: Incidencias por estatus
    SELECT e.NombreEstatus, e.Color, COUNT(*) AS Total
    FROM Incidencias i JOIN Estatus e ON i.EstatusID = e.EstatusID
    WHERE i.FechaCreacion BETWEEN @FechaInicio AND @FechaFin
    GROUP BY e.NombreEstatus, e.Color ORDER BY Total DESC;

    -- RS7: Solicitudes por tipo
    SELECT t.Nombre AS Tipo, COUNT(*) AS Total
    FROM Solicitudes s JOIN TiposSolicitud t ON s.TipoSolicitudID = t.TipoID
    WHERE s.FechaCreacion BETWEEN @FechaInicio AND @FechaFin
    GROUP BY t.Nombre ORDER BY Total DESC;

    -- RS8: Solicitudes por prioridad
    SELECT Prioridad, COUNT(*) AS Total
    FROM Solicitudes
    WHERE FechaCreacion BETWEEN @FechaInicio AND @FechaFin
    GROUP BY Prioridad ORDER BY Total DESC;

    -- RS9: Solicitudes por estatus
    SELECT e.NombreEstatus, e.Color, COUNT(*) AS Total
    FROM Solicitudes s JOIN Estatus e ON s.EstatusID = e.EstatusID
    WHERE s.FechaCreacion BETWEEN @FechaInicio AND @FechaFin
    GROUP BY e.NombreEstatus, e.Color ORDER BY Total DESC;

    -- RS10: Dashboards por unidad
    SELECT un.Nombre AS Unidad, COUNT(*) AS Total
    FROM Dashboards d JOIN UnidadesNegocio un ON d.UnidadID = un.UnidadID
    WHERE d.Activo = 1
    GROUP BY un.Nombre ORDER BY Total DESC;

    -- RS11: Dashboards por nivel
    SELECT ISNULL(Nivel, 'Sin clasificar') AS Nivel, COUNT(*) AS Total
    FROM Dashboards WHERE Activo = 1
    GROUP BY Nivel ORDER BY Total DESC;

    -- RS12: Usuarios por área
    SELECT ISNULL(a.NombreArea, 'Sin área') AS Area, COUNT(*) AS Total
    FROM Usuarios u LEFT JOIN Areas a ON u.AreaID = a.AreaID
    WHERE u.Activo = 1
    GROUP BY a.NombreArea ORDER BY Total DESC;

    -- RS13: Dashboards más solicitados
    SELECT TOP 10 d.Nombre, d.Folio, COUNT(*) AS TotalPermisos
    FROM DashboardPermisos dp JOIN Dashboards d ON dp.DashboardID = d.DashboardID
    WHERE dp.FechaOtorgado BETWEEN @FechaInicio AND @FechaFin
    GROUP BY d.Nombre, d.Folio ORDER BY TotalPermisos DESC;

    -- RS14: Actividad reciente
    SELECT TOP 15 u.Nombre AS Usuario, a.Accion, a.TablaAfectada, a.Detalle, a.FechaAccion
    FROM Auditoria a JOIN Usuarios u ON a.UsuarioID = u.UsuarioID
    WHERE a.FechaAccion BETWEEN @FechaInicio AND @FechaFin
    ORDER BY a.FechaAccion DESC;

    -- RS15: Accesos por día
    SELECT CAST(FechaAccion AS DATE) AS Fecha, COUNT(*) AS Total
    FROM Auditoria
    WHERE Accion = 'Login' AND FechaAccion BETWEEN @FechaInicio AND @FechaFin
    GROUP BY CAST(FechaAccion AS DATE)
    ORDER BY Fecha;

    -- RS16: Tickets por mes
    SELECT FORMAT(FechaCreacion,'yyyy-MM') AS Mes, 'Incidencia' AS Tipo, COUNT(*) AS Total
    FROM Incidencias
    WHERE FechaCreacion BETWEEN @FechaInicio AND @FechaFin
    GROUP BY FORMAT(FechaCreacion,'yyyy-MM')
    UNION ALL
    SELECT FORMAT(FechaCreacion,'yyyy-MM'), 'Solicitud', COUNT(*)
    FROM Solicitudes
    WHERE FechaCreacion BETWEEN @FechaInicio AND @FechaFin
    GROUP BY FORMAT(FechaCreacion,'yyyy-MM')
    ORDER BY Mes;

    -- RS17: Dashboards más vistos
    SELECT TOP 10 d.Nombre, d.Folio, COUNT(*) AS TotalVistas
    FROM Auditoria a JOIN Dashboards d ON a.RegistroID = d.DashboardID
    WHERE a.Accion = 'VerDashboard' AND a.FechaAccion BETWEEN @FechaInicio AND @FechaFin
    GROUP BY d.Nombre, d.Folio ORDER BY TotalVistas DESC;

    -- RS18: Usuarios que más ven dashboards
    SELECT TOP 10 u.Nombre, COUNT(*) AS TotalVistas
    FROM Auditoria a JOIN Usuarios u ON a.UsuarioID = u.UsuarioID
    WHERE a.Accion = 'VerDashboard' AND a.FechaAccion BETWEEN @FechaInicio AND @FechaFin
    GROUP BY u.Nombre ORDER BY TotalVistas DESC;

    -- RS19: Usuarios que más reportan incidencias
    SELECT TOP 10 u.Nombre, COUNT(*) AS Total
    FROM Incidencias i JOIN Usuarios u ON i.ReportadoPorID = u.UsuarioID
    WHERE i.FechaCreacion BETWEEN @FechaInicio AND @FechaFin
    GROUP BY u.Nombre ORDER BY Total DESC;

    -- RS20: Usuarios que más hacen solicitudes
    SELECT TOP 10 u.Nombre, COUNT(*) AS Total
    FROM Solicitudes s JOIN Usuarios u ON s.SolicitadoPorID = u.UsuarioID
    WHERE s.FechaCreacion BETWEEN @FechaInicio AND @FechaFin
    GROUP BY u.Nombre ORDER BY Total DESC;

    -- RS21: Promedio resolución incidencias
    SELECT ISNULL(AVG(DATEDIFF(DAY, FechaCreacion, FechaResolucion)), 0) AS PromedioIncidencias
    FROM Incidencias
    WHERE FechaResolucion IS NOT NULL AND FechaCreacion BETWEEN @FechaInicio AND @FechaFin;

    -- RS22: Promedio resolución solicitudes
    SELECT ISNULL(AVG(DATEDIFF(DAY, FechaCreacion, FechaRespuesta)), 0) AS PromedioSolicitudes
    FROM Solicitudes
    WHERE FechaRespuesta IS NOT NULL AND FechaCreacion BETWEEN @FechaInicio AND @FechaFin;

    -- RS23: Vistas por día
    SELECT CAST(FechaAccion AS DATE) AS Fecha, COUNT(*) AS Total
    FROM Auditoria
    WHERE Accion = 'VerDashboard' AND FechaAccion BETWEEN @FechaInicio AND @FechaFin
    GROUP BY CAST(FechaAccion AS DATE)
    ORDER BY Fecha;

    -- RS24: Admins más activos
    SELECT TOP 5 u.Nombre, COUNT(*) AS TotalAcciones
    FROM Auditoria a JOIN Usuarios u ON a.UsuarioID = u.UsuarioID
    JOIN Roles r ON u.RolID = r.RolID
    WHERE r.NombreRol = 'Administrador' AND a.Accion != 'Login'
    AND a.FechaAccion BETWEEN @FechaInicio AND @FechaFin
    GROUP BY u.Nombre ORDER BY TotalAcciones DESC;

    -- RS25: Avisos con más reacciones
    SELECT TOP 5 av.Titulo, COUNT(*) AS TotalReacciones
    FROM AvisosReacciones ar JOIN Avisos av ON ar.AvisoID = av.Id
    WHERE ar.FechaReaccion BETWEEN @FechaInicio AND @FechaFin
    GROUP BY av.Titulo ORDER BY TotalReacciones DESC;

    -- RS26: Avisos con más comentarios
    SELECT TOP 5 av.Titulo, COUNT(*) AS TotalComentarios
    FROM AvisosComentarios ac JOIN Avisos av ON ac.AvisoID = av.Id
    WHERE ac.FechaComentario BETWEEN @FechaInicio AND @FechaFin
    GROUP BY av.Titulo ORDER BY TotalComentarios DESC;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_Estatus_Actualizar]    Script Date: 07/04/2026 11:01:04 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_Estatus_Actualizar]
    @EstatusID     INT,
    @NombreEstatus NVARCHAR(50),
    @AplicaA       NVARCHAR(30),
    @Color         NVARCHAR(10) = NULL
AS
BEGIN
    SET NOCOUNT ON;
    UPDATE Estatus SET NombreEstatus = @NombreEstatus, AplicaA = @AplicaA, Color = @Color
    WHERE EstatusID = @EstatusID;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Estatus_Crear]    Script Date: 07/04/2026 11:01:04 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_Estatus_Crear]
    @NombreEstatus NVARCHAR(50),
    @AplicaA       NVARCHAR(30),
    @Color         NVARCHAR(10) = NULL,
    @NuevoID       INT OUTPUT
AS
BEGIN
    SET NOCOUNT ON;
    INSERT INTO Estatus (NombreEstatus, AplicaA, Color) VALUES (@NombreEstatus, @AplicaA, @Color);
    SET @NuevoID = SCOPE_IDENTITY();
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Estatus_Eliminar]    Script Date: 07/04/2026 11:01:04 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_Estatus_Eliminar]
    @EstatusID INT
AS
BEGIN
    SET NOCOUNT ON;
    IF EXISTS (SELECT 1 FROM Incidencias WHERE EstatusID = @EstatusID)
        OR EXISTS (SELECT 1 FROM Solicitudes WHERE EstatusID = @EstatusID)
    BEGIN
        RAISERROR('No se puede eliminar: el estatus está en uso.', 16, 1);
        RETURN;
    END
    DELETE FROM Estatus WHERE EstatusID = @EstatusID;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Estatus_ObtenerTodos]    Script Date: 07/04/2026 11:01:04 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ============================================================
--  MÓDULO: CATÁLOGOS (Estatus, TiposIncidencia, TiposSolicitud)
-- ============================================================

-- Estatus
CREATE   PROCEDURE [dbo].[sp_Estatus_ObtenerTodos]
    @AplicaA NVARCHAR(30) = NULL
AS
BEGIN
    SET NOCOUNT ON;
    SELECT EstatusID, NombreEstatus, AplicaA, Color FROM Estatus
    WHERE (@AplicaA IS NULL OR AplicaA IN (@AplicaA, 'Ambos'))
    ORDER BY AplicaA, NombreEstatus;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Incidencias_Actualizar]    Script Date: 07/04/2026 11:01:04 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_Incidencias_Actualizar]
    @IncidenciaID     INT,
    @Titulo           NVARCHAR(200),
    @Descripcion      NVARCHAR(MAX),
    @Prioridad        NVARCHAR(20),
    @TipoIncidenciaID INT
AS
BEGIN
    SET NOCOUNT ON;
    UPDATE Incidencias
    SET Titulo = @Titulo, Descripcion = @Descripcion,
        Prioridad = @Prioridad, TipoIncidenciaID = @TipoIncidenciaID
    WHERE IncidenciaID = @IncidenciaID;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Incidencias_CambiarEstatus]    Script Date: 07/04/2026 11:01:04 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_Incidencias_CambiarEstatus]
    @IncidenciaID INT,
    @EstatusID    INT,
    @AsignadoAID  INT = NULL
AS
BEGIN
    SET NOCOUNT ON;
    DECLARE @FechaRes DATETIME = NULL;
    IF EXISTS (SELECT 1 FROM Estatus WHERE EstatusID = @EstatusID AND NombreEstatus IN ('Resuelto','Cerrado'))
        SET @FechaRes = GETDATE();

    UPDATE Incidencias
    SET EstatusID = @EstatusID,
        AsignadoAID = ISNULL(@AsignadoAID, AsignadoAID),
        FechaResolucion = @FechaRes
    WHERE IncidenciaID = @IncidenciaID;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Incidencias_Crear]    Script Date: 07/04/2026 11:01:04 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_Incidencias_Crear]
    @DashboardID      INT,
    @ReportadoPorID   INT,
    @TipoIncidenciaID INT,
    @Titulo           NVARCHAR(200),
    @Descripcion      NVARCHAR(MAX),
    @Prioridad        NVARCHAR(20) = 'Media',
    @NuevoID          INT OUTPUT,
    @Folio            NVARCHAR(20) OUTPUT
AS
BEGIN
    SET NOCOUNT ON;

    -- Generar folio: INC-YYYY-###
    DECLARE @Anio NVARCHAR(4) = CAST(YEAR(GETDATE()) AS NVARCHAR(4));
    DECLARE @Seq  INT;
    SELECT @Seq = COUNT(*) + 1 FROM Incidencias WHERE YEAR(FechaCreacion) = YEAR(GETDATE());
    SET @Folio = 'INC-' + @Anio + '-' + RIGHT('000' + CAST(@Seq AS NVARCHAR(3)), 3);

    -- Obtener el estatus inicial "Abierto"
    DECLARE @EstatusID INT;
    SELECT TOP 1 @EstatusID = EstatusID FROM Estatus
    WHERE NombreEstatus = 'Abierto' AND AplicaA IN ('Incidencia','Ambos');

    INSERT INTO Incidencias (Folio, DashboardID, ReportadoPorID, TipoIncidenciaID,
                             Titulo, Descripcion, Prioridad, EstatusID, FechaCreacion)
    VALUES (@Folio, @DashboardID, @ReportadoPorID, @TipoIncidenciaID,
            @Titulo, @Descripcion, @Prioridad, @EstatusID, GETDATE());

    SET @NuevoID = SCOPE_IDENTITY();
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Incidencias_Eliminar]    Script Date: 07/04/2026 11:01:04 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_Incidencias_Eliminar]
    @IncidenciaID INT
AS
BEGIN
    SET NOCOUNT ON;
    -- Eliminar comentarios relacionados primero
    DELETE FROM Comentarios WHERE TipoRegistro = 'Incidencia' AND RegistroID = @IncidenciaID;
    DELETE FROM Incidencias WHERE IncidenciaID = @IncidenciaID;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Incidencias_ObtenerPorID]    Script Date: 07/04/2026 11:01:04 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Incidencias_ObtenerPorID]  
    @IncidenciaID INT  
AS  
BEGIN  
    SET NOCOUNT ON;  
  
    SELECT  
        i.IncidenciaID,  
        i.Folio,  
        i.Titulo,  
        i.Descripcion,  
        i.Prioridad,  
        i.FechaCreacion,  
        i.FechaResolucion,  
        i.EstatusID,  
        i.DashboardID,  
        i.ReportadoPorID,  
        i.TipoIncidenciaID,  
        i.AsignadoAID,  
        e.NombreEstatus,  
        e.Color           AS ColorEstatus,  
        d.Nombre          AS NombreDashboard,  
        d.Folio           AS FolioDashboard,  
        un.Nombre         AS NombreUnidad,
        ti.Nombre         AS TipoIncidencia,  
        ur.Nombre         AS ReportadoPor,  
        a.NombreArea      AS AreaReportador,  
        ua.Nombre         AS AsignadoA  
    FROM  Incidencias        i  
    JOIN  Estatus            e  ON e.EstatusID      = i.EstatusID  
    JOIN  Dashboards         d  ON d.DashboardID    = i.DashboardID  
    JOIN  UnidadesNegocio    un ON un.UnidadID      = d.UnidadID
    JOIN  TiposIncidencia    ti ON ti.TipoID        = i.TipoIncidenciaID  
    JOIN  Usuarios           ur ON ur.UsuarioID     = i.ReportadoPorID  
    LEFT  JOIN Areas         a  ON a.AreaID         = ur.AreaID  
    LEFT  JOIN Usuarios      ua ON ua.UsuarioID     = i.AsignadoAID  
    WHERE i.IncidenciaID = @IncidenciaID;  
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Incidencias_ObtenerTodas]    Script Date: 07/04/2026 11:01:04 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- SP Incidencias: agrega FechaResolucion
-- =============================================
CREATE   PROCEDURE [dbo].[sp_Incidencias_ObtenerTodas]
    @DashboardID INT = NULL,
    @UsuarioID   INT = NULL,
    @EstatusID   INT = NULL
AS
BEGIN
    SET NOCOUNT ON;
    SELECT i.IncidenciaID, i.Folio, i.Titulo, i.Prioridad,
           i.FechaCreacion, i.FechaResolucion,
           d.Folio  AS FolioDashboard, d.Nombre AS NombreDashboard,
           e.NombreEstatus, e.Color AS ColorEstatus,
           t.Nombre AS TipoIncidencia,
           u.Nombre AS ReportadoPor,
           a.Nombre AS AsignadoA
    FROM Incidencias i
    INNER JOIN Dashboards      d ON d.DashboardID      = i.DashboardID
    INNER JOIN Estatus         e ON e.EstatusID         = i.EstatusID
    INNER JOIN TiposIncidencia t ON t.TipoID            = i.TipoIncidenciaID
    INNER JOIN Usuarios        u ON u.UsuarioID         = i.ReportadoPorID
    LEFT  JOIN Usuarios        a ON a.UsuarioID         = i.AsignadoAID
    WHERE
        (@DashboardID IS NULL OR i.DashboardID    = @DashboardID)
        AND (@UsuarioID  IS NULL OR i.ReportadoPorID = @UsuarioID)
        AND (@EstatusID  IS NULL OR i.EstatusID      = @EstatusID)
    ORDER BY i.FechaCreacion DESC;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Notificaciones_ContarNoLeidas]    Script Date: 07/04/2026 11:01:04 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ═══════════════════════════════════════════════════════════
-- SP: Contar no leídas
-- ═══════════════════════════════════════════════════════════
CREATE PROCEDURE [dbo].[sp_Notificaciones_ContarNoLeidas]
    @UsuarioID INT,
    @NoLeidas  INT OUTPUT
AS
BEGIN
    SET NOCOUNT ON;
    SELECT @NoLeidas = COUNT(*)
    FROM Notificaciones
    WHERE UsuarioID = @UsuarioID AND Leida = 0;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_Notificaciones_Crear]    Script Date: 07/04/2026 11:01:04 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ═══════════════════════════════════════════════════════════
-- SP: Crear notificación
-- ═══════════════════════════════════════════════════════════
CREATE PROCEDURE [dbo].[sp_Notificaciones_Crear]
    @UsuarioID   INT,
    @Titulo      NVARCHAR(150),
    @Mensaje     NVARCHAR(500),
    @Tipo        NVARCHAR(50),
    @IconoClass  NVARCHAR(100) = NULL,
    @ColorClass  NVARCHAR(50)  = NULL,
    @Url         NVARCHAR(300) = NULL
AS
BEGIN
    SET NOCOUNT ON;
    INSERT INTO Notificaciones (UsuarioID, Titulo, Mensaje, Tipo, IconoClass, ColorClass, Url)
    VALUES (@UsuarioID, @Titulo, @Mensaje, @Tipo, @IconoClass, @ColorClass, @Url);
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_Notificaciones_CrearParaTodos]    Script Date: 07/04/2026 11:01:04 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_Notificaciones_CrearParaTodos]  
    @Titulo     NVARCHAR(150),  
    @Mensaje    NVARCHAR(500),  
    @Tipo       NVARCHAR(50),  
    @IconoClass NVARCHAR(100),  
    @ColorClass NVARCHAR(50),  
    @Url        NVARCHAR(300)  
AS  
BEGIN  
    SET NOCOUNT ON;
    INSERT INTO Notificaciones (UsuarioID, Titulo, Mensaje, Tipo, IconoClass, ColorClass, Url, Leida, FechaCreacion)  
    SELECT u.UsuarioID, @Titulo, @Mensaje, @Tipo, @IconoClass, @ColorClass, @Url, 0, GETDATE()  
    FROM Usuarios u  
    WHERE u.Activo = 1;  
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Notificaciones_MarcarLeida]    Script Date: 07/04/2026 11:01:04 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ═══════════════════════════════════════════════════════════
-- SP: Marcar como leída
-- ═══════════════════════════════════════════════════════════
CREATE PROCEDURE [dbo].[sp_Notificaciones_MarcarLeida]
    @NotificacionID INT
AS
BEGIN
    SET NOCOUNT ON;
    UPDATE Notificaciones SET Leida = 1 WHERE NotificacionID = @NotificacionID;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_Notificaciones_MarcarTodasLeidas]    Script Date: 07/04/2026 11:01:04 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ═══════════════════════════════════════════════════════════
-- SP: Marcar todas como leídas
-- ═══════════════════════════════════════════════════════════
CREATE PROCEDURE [dbo].[sp_Notificaciones_MarcarTodasLeidas]
    @UsuarioID INT
AS
BEGIN
    SET NOCOUNT ON;
    UPDATE Notificaciones SET Leida = 1
    WHERE UsuarioID = @UsuarioID AND Leida = 0;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_Notificaciones_ObtenerPorUsuario]    Script Date: 07/04/2026 11:01:04 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ═══════════════════════════════════════════════════════════
-- SP: Obtener notificaciones de un usuario
-- ═══════════════════════════════════════════════════════════
CREATE PROCEDURE [dbo].[sp_Notificaciones_ObtenerPorUsuario]
    @UsuarioID INT,
    @Top       INT = 20
AS
BEGIN
    SET NOCOUNT ON;
    SELECT TOP (@Top)
        NotificacionID, UsuarioID, Titulo, Mensaje, Tipo,
        IconoClass, ColorClass, Url, Leida, FechaCreacion
    FROM Notificaciones
    WHERE UsuarioID = @UsuarioID
    ORDER BY FechaCreacion DESC;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_Roles_Actualizar]    Script Date: 07/04/2026 11:01:04 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_Roles_Actualizar]
    @RolID       INT,
    @NombreRol   NVARCHAR(50),
    @Descripcion NVARCHAR(200) = NULL
AS
BEGIN
    SET NOCOUNT ON;
    UPDATE Roles SET NombreRol = @NombreRol, Descripcion = @Descripcion
    WHERE RolID = @RolID;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Roles_Crear]    Script Date: 07/04/2026 11:01:04 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_Roles_Crear]
    @NombreRol   NVARCHAR(50),
    @Descripcion NVARCHAR(200) = NULL,
    @NuevoID     INT OUTPUT
AS
BEGIN
    SET NOCOUNT ON;
    INSERT INTO Roles (NombreRol, Descripcion)
    VALUES (@NombreRol, @Descripcion);
    SET @NuevoID = SCOPE_IDENTITY();
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Roles_Eliminar]    Script Date: 07/04/2026 11:01:04 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_Roles_Eliminar]
    @RolID INT
AS
BEGIN
    SET NOCOUNT ON;
    IF EXISTS (SELECT 1 FROM Usuarios WHERE RolID = @RolID)
    BEGIN
        RAISERROR('No se puede eliminar el rol porque tiene usuarios asignados.', 16, 1);
        RETURN;
    END
    DELETE FROM Roles WHERE RolID = @RolID;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Roles_ObtenerPorID]    Script Date: 07/04/2026 11:01:04 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_Roles_ObtenerPorID]
    @RolID INT
AS
BEGIN
    SET NOCOUNT ON;
    SELECT RolID, NombreRol, Descripcion FROM Roles WHERE RolID = @RolID;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Roles_ObtenerTodos]    Script Date: 07/04/2026 11:01:04 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ============================================================
--  SECCIÓN 4: STORED PROCEDURES — CRUD
-- ============================================================

-- ============================================================
--  MÓDULO: ROLES
-- ============================================================

CREATE   PROCEDURE [dbo].[sp_Roles_ObtenerTodos]
AS
BEGIN
    SET NOCOUNT ON;
    SELECT RolID, NombreRol, Descripcion FROM Roles ORDER BY NombreRol;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Solicitudes_Actualizar]    Script Date: 07/04/2026 11:01:04 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_Solicitudes_Actualizar]
    @SolicitudID     INT,
    @Titulo          NVARCHAR(200),
    @Descripcion     NVARCHAR(MAX),
    @Justificacion   NVARCHAR(MAX) = NULL,
    @TipoSolicitudID INT,
    @EstatusID       INT,
    @AsignadoAID     INT = NULL,
    @Prioridad       NVARCHAR(20) = 'Media'
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE Solicitudes
    SET Titulo          = @Titulo,
        Descripcion     = @Descripcion,
        Justificacion   = @Justificacion,
        TipoSolicitudID = @TipoSolicitudID,
        Prioridad       = @Prioridad
    WHERE SolicitudID = @SolicitudID;

    -- Cambiar estatus y asignación
    DECLARE @FechaRes DATETIME = NULL;
    IF EXISTS (
        SELECT 1 FROM Estatus 
        WHERE EstatusID = @EstatusID 
        AND NombreEstatus IN ('Aprobada','Rechazada','Completada')
    )
        SET @FechaRes = GETDATE();

    UPDATE Solicitudes
    SET EstatusID      = @EstatusID,
        AsignadoAID    = ISNULL(@AsignadoAID, AsignadoAID),
        FechaRespuesta = ISNULL(@FechaRes, FechaRespuesta)
    WHERE SolicitudID = @SolicitudID;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Solicitudes_CambiarEstatus]    Script Date: 07/04/2026 11:01:04 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_Solicitudes_CambiarEstatus]
    @SolicitudID INT,
    @EstatusID   INT,
    @AsignadoAID INT = NULL
AS
BEGIN
    SET NOCOUNT ON;
    DECLARE @FechaRes DATETIME = NULL;
    IF EXISTS (SELECT 1 FROM Estatus WHERE EstatusID = @EstatusID AND NombreEstatus IN ('Aprobada','Rechazada','Completada'))
        SET @FechaRes = GETDATE();

    UPDATE Solicitudes
    SET EstatusID = @EstatusID,
        AsignadoAID = ISNULL(@AsignadoAID, AsignadoAID),
        FechaRespuesta = @FechaRes
    WHERE SolicitudID = @SolicitudID;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Solicitudes_Crear]    Script Date: 07/04/2026 11:01:04 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 3. También actualizar el SP de Crear para que reciba Prioridad
CREATE   PROCEDURE [dbo].[sp_Solicitudes_Crear]
    @DashboardID     INT = NULL,
    @SolicitadoPorID INT,
    @TipoSolicitudID INT,
    @Titulo          NVARCHAR(200),
    @Descripcion     NVARCHAR(MAX),
    @Justificacion   NVARCHAR(MAX) = NULL,
    @Prioridad       NVARCHAR(20)  = 'Media',
    @NuevoID         INT OUTPUT,
    @Folio           NVARCHAR(20) OUTPUT
AS
BEGIN
    SET NOCOUNT ON;
    DECLARE @Anio NVARCHAR(4) = CAST(YEAR(GETDATE()) AS NVARCHAR(4));
    DECLARE @Seq  INT;
    SELECT @Seq = COUNT(*) + 1 FROM Solicitudes WHERE YEAR(FechaCreacion) = YEAR(GETDATE());
    SET @Folio = 'SOL-' + @Anio + '-' + RIGHT('000' + CAST(@Seq AS NVARCHAR(3)), 3);

    DECLARE @EstatusID INT;
    SELECT TOP 1 @EstatusID = EstatusID FROM Estatus
    WHERE NombreEstatus = 'Pendiente' AND AplicaA IN ('Solicitud','Ambos');

    INSERT INTO Solicitudes (Folio, DashboardID, SolicitadoPorID, TipoSolicitudID,
                             Titulo, Descripcion, Justificacion, Prioridad,
                             EstatusID, FechaCreacion)
    VALUES (@Folio, @DashboardID, @SolicitadoPorID, @TipoSolicitudID,
            @Titulo, @Descripcion, @Justificacion, @Prioridad,
            @EstatusID, GETDATE());

    SET @NuevoID = SCOPE_IDENTITY();
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Solicitudes_Eliminar]    Script Date: 07/04/2026 11:01:04 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_Solicitudes_Eliminar]
    @SolicitudID INT
AS
BEGIN
    SET NOCOUNT ON;
    DELETE FROM Comentarios WHERE TipoRegistro = 'Solicitud' AND RegistroID = @SolicitudID;
    DELETE FROM Solicitudes WHERE SolicitudID = @SolicitudID;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Solicitudes_ObtenerPorID]    Script Date: 07/04/2026 11:01:04 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Solicitudes_ObtenerPorID]  
    @SolicitudID INT  
AS  
BEGIN  
    SET NOCOUNT ON;  
  
    SELECT  
        s.SolicitudID,  
        s.Folio,  
        s.Titulo,  
        s.Descripcion,  
        s.Prioridad,  
        s.FechaCreacion,  
        s.FechaRespuesta  AS FechaResolucion,  
        s.EstatusID,  
        s.TipoSolicitudID,  
        s.AsignadoAID,  
        s.SolicitadoPorID,  
        s.DashboardID,
        d.Folio           AS FolioDashboard,
        e.NombreEstatus,  
        e.Color           AS ColorEstatus,  
        d.Nombre          AS NombreDashboard,
        un.Nombre         AS NombreUnidad,
        ts.Nombre         AS TipoSolicitud,  
        us.Nombre         AS ReportadoPor,  
        a.NombreArea      AS AreaReportador,  
        ua.Nombre         AS AsignadoA  
    FROM  Solicitudes        s  
    JOIN  Estatus            e  ON e.EstatusID      = s.EstatusID  
    LEFT  JOIN Dashboards    d  ON d.DashboardID    = s.DashboardID
    LEFT  JOIN UnidadesNegocio un ON un.UnidadID    = d.UnidadID
    JOIN  TiposSolicitud     ts ON ts.TipoID        = s.TipoSolicitudID  
    JOIN  Usuarios           us ON us.UsuarioID     = s.SolicitadoPorID  
    LEFT  JOIN Areas         a  ON a.AreaID         = us.AreaID  
    LEFT  JOIN Usuarios      ua ON ua.UsuarioID     = s.AsignadoAID  
    WHERE s.SolicitudID = @SolicitudID;  
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Solicitudes_ObtenerTodas]    Script Date: 07/04/2026 11:01:04 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 2. Ahora sí ejecutar los SPs corregidos
CREATE   PROCEDURE [dbo].[sp_Solicitudes_ObtenerTodas]
    @DashboardID     INT = NULL,
    @SolicitadoPorID INT = NULL,
    @EstatusID       INT = NULL
AS
BEGIN
    SET NOCOUNT ON;
    SELECT s.SolicitudID, s.Folio, s.Titulo, s.FechaCreacion, s.FechaRespuesta,
           s.Prioridad,
           d.Folio  AS FolioDashboard, d.Nombre AS NombreDashboard,
           e.NombreEstatus, e.Color AS ColorEstatus,
           t.Nombre AS TipoSolicitud,
           u.Nombre AS SolicitadoPor,
           a.Nombre AS AsignadoA
    FROM Solicitudes s
    LEFT  JOIN Dashboards     d ON d.DashboardID     = s.DashboardID
    INNER JOIN Estatus        e ON e.EstatusID        = s.EstatusID
    INNER JOIN TiposSolicitud t ON t.TipoID           = s.TipoSolicitudID
    INNER JOIN Usuarios       u ON u.UsuarioID        = s.SolicitadoPorID
    LEFT  JOIN Usuarios       a ON a.UsuarioID        = s.AsignadoAID
    WHERE
        (@DashboardID     IS NULL OR s.DashboardID     = @DashboardID)
        AND (@SolicitadoPorID IS NULL OR s.SolicitadoPorID = @SolicitadoPorID)
        AND (@EstatusID   IS NULL OR s.EstatusID       = @EstatusID)
    ORDER BY s.FechaCreacion DESC;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Solicitudes_VerificarAccesoPendiente]    Script Date: 07/04/2026 11:01:04 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Solicitudes_VerificarAccesoPendiente]
    @UsuarioID   INT,
    @DashboardID INT
AS
BEGIN
    SET NOCOUNT ON;
    SELECT CAST(
        CASE WHEN EXISTS (
            SELECT 1 FROM Solicitudes
            WHERE SolicitadoPorID = @UsuarioID
              AND DashboardID     = @DashboardID
              AND TipoSolicitudID = 3
        ) THEN 1 ELSE 0 END
    AS BIT) AS YaSolicito;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_TiposIncidencia_Actualizar]    Script Date: 07/04/2026 11:01:04 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_TiposIncidencia_Actualizar]
    @TipoID INT, @Nombre NVARCHAR(100), @Descripcion NVARCHAR(200) = NULL
AS BEGIN SET NOCOUNT ON; UPDATE TiposIncidencia SET Nombre=@Nombre, Descripcion=@Descripcion WHERE TipoID=@TipoID; END
GO
/****** Object:  StoredProcedure [dbo].[sp_TiposIncidencia_Crear]    Script Date: 07/04/2026 11:01:04 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_TiposIncidencia_Crear]
    @Nombre NVARCHAR(100), @Descripcion NVARCHAR(200) = NULL, @NuevoID INT OUTPUT
AS BEGIN
    SET NOCOUNT ON;
    INSERT INTO TiposIncidencia (Nombre, Descripcion) VALUES (@Nombre, @Descripcion);
    SET @NuevoID = SCOPE_IDENTITY();
END
GO
/****** Object:  StoredProcedure [dbo].[sp_TiposIncidencia_Eliminar]    Script Date: 07/04/2026 11:01:04 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_TiposIncidencia_Eliminar]
    @TipoID INT
AS BEGIN
    SET NOCOUNT ON;
    IF EXISTS (SELECT 1 FROM Incidencias WHERE TipoIncidenciaID = @TipoID)
    BEGIN RAISERROR('Tipo en uso, no se puede eliminar.', 16, 1); RETURN; END
    DELETE FROM TiposIncidencia WHERE TipoID = @TipoID;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_TiposIncidencia_ObtenerTodos]    Script Date: 07/04/2026 11:01:04 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- TiposIncidencia
CREATE   PROCEDURE [dbo].[sp_TiposIncidencia_ObtenerTodos]
AS BEGIN SET NOCOUNT ON; SELECT TipoID, Nombre, Descripcion FROM TiposIncidencia ORDER BY Nombre; END
GO
/****** Object:  StoredProcedure [dbo].[sp_TiposSolicitud_Actualizar]    Script Date: 07/04/2026 11:01:04 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_TiposSolicitud_Actualizar]
    @TipoID INT, @Nombre NVARCHAR(100), @Descripcion NVARCHAR(200) = NULL
AS BEGIN SET NOCOUNT ON; UPDATE TiposSolicitud SET Nombre=@Nombre, Descripcion=@Descripcion WHERE TipoID=@TipoID; END
GO
/****** Object:  StoredProcedure [dbo].[sp_TiposSolicitud_Crear]    Script Date: 07/04/2026 11:01:04 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_TiposSolicitud_Crear]
    @Nombre NVARCHAR(100), @Descripcion NVARCHAR(200) = NULL, @NuevoID INT OUTPUT
AS BEGIN
    SET NOCOUNT ON;
    INSERT INTO TiposSolicitud (Nombre, Descripcion) VALUES (@Nombre, @Descripcion);
    SET @NuevoID = SCOPE_IDENTITY();
END
GO
/****** Object:  StoredProcedure [dbo].[sp_TiposSolicitud_Eliminar]    Script Date: 07/04/2026 11:01:04 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_TiposSolicitud_Eliminar]
    @TipoID INT
AS BEGIN
    SET NOCOUNT ON;
    IF EXISTS (SELECT 1 FROM Solicitudes WHERE TipoSolicitudID = @TipoID)
    BEGIN RAISERROR('Tipo en uso, no se puede eliminar.', 16, 1); RETURN; END
    DELETE FROM TiposSolicitud WHERE TipoID = @TipoID;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_TiposSolicitud_ObtenerTodos]    Script Date: 07/04/2026 11:01:04 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- TiposSolicitud
CREATE   PROCEDURE [dbo].[sp_TiposSolicitud_ObtenerTodos]
AS BEGIN SET NOCOUNT ON; SELECT TipoID, Nombre, Descripcion FROM TiposSolicitud ORDER BY Nombre; END
GO
/****** Object:  StoredProcedure [dbo].[sp_UnidadesNegocio_Actualizar]    Script Date: 07/04/2026 11:01:04 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_UnidadesNegocio_Actualizar]
    @UnidadID    INT,
    @Nombre      NVARCHAR(150),
    @Descripcion NVARCHAR(500) = NULL,
    @IconoURL    NVARCHAR(MAX) = NULL,
    @Activo      BIT
AS
BEGIN
    SET NOCOUNT ON;
    UPDATE UnidadesNegocio
    SET Nombre = @Nombre, Descripcion = @Descripcion,
        IconoURL = @IconoURL, Activo = @Activo
    WHERE UnidadID = @UnidadID;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_UnidadesNegocio_Crear]    Script Date: 07/04/2026 11:01:04 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_UnidadesNegocio_Crear]
    @Nombre      NVARCHAR(150),
    @Descripcion NVARCHAR(500) = NULL,
    @IconoURL    NVARCHAR(MAX) = NULL,
    @NuevoID     INT OUTPUT
AS
BEGIN
    SET NOCOUNT ON;
    INSERT INTO UnidadesNegocio (Nombre, Descripcion, IconoURL)
    VALUES (@Nombre, @Descripcion, @IconoURL);
    SET @NuevoID = SCOPE_IDENTITY();
END
GO
/****** Object:  StoredProcedure [dbo].[sp_UnidadesNegocio_ObtenerTodas]    Script Date: 07/04/2026 11:01:04 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_UnidadesNegocio_ObtenerTodas]
    @SoloActivas BIT = 1
AS
BEGIN
    SET NOCOUNT ON;
    SELECT 
        UnidadID,
        Nombre,
        Descripcion,
        CASE 
            WHEN IconoURL IS NOT NULL 
            THEN '/Dashboards/Icono?id=' + CAST(UnidadID AS NVARCHAR(10))
            ELSE NULL
        END AS IconoURL,
        Activo,
        FechaCreacion
    FROM UnidadesNegocio
    WHERE (@SoloActivas = 0 OR Activo = 1)
    ORDER BY Nombre;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Usuarios_Actualizar]    Script Date: 07/04/2026 11:01:04 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_Usuarios_Actualizar]
    @UsuarioID INT,
    @Nombre    NVARCHAR(100),
    @RolID     INT,
    @AreaID    INT = NULL,
    @Activo    BIT = 1
AS
BEGIN
    SET NOCOUNT ON;
    UPDATE Usuarios
    SET Nombre = @Nombre, RolID = @RolID, AreaID = @AreaID, Activo = @Activo
    WHERE UsuarioID = @UsuarioID;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Usuarios_ActualizarUltimoAcceso]    Script Date: 07/04/2026 11:01:04 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_Usuarios_ActualizarUltimoAcceso]
    @UsuarioID INT
AS
BEGIN
    SET NOCOUNT ON;
    UPDATE Usuarios SET UltimoAcceso = GETDATE() WHERE UsuarioID = @UsuarioID;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Usuarios_CambiarContrasena]    Script Date: 07/04/2026 11:01:04 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_Usuarios_CambiarContrasena]
    @UsuarioID      INT,
    @ContrasenaHash NVARCHAR(256)
AS
BEGIN
    SET NOCOUNT ON;
    UPDATE Usuarios SET ContrasenaHash = @ContrasenaHash WHERE UsuarioID = @UsuarioID;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Usuarios_Crear]    Script Date: 07/04/2026 11:01:04 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Usuarios_Crear]
    @Nombre  NVARCHAR(100),
    @Correo  NVARCHAR(150),
    @RolID   INT,
    @AreaID  INT = NULL,
    @NuevoID INT OUTPUT
AS
BEGIN
    SET NOCOUNT ON;

    IF EXISTS (SELECT 1 FROM Usuarios WHERE Correo = @Correo)
    BEGIN
        RAISERROR('Ya existe un usuario con ese correo.', 16, 1);
        RETURN;
    END

    INSERT INTO Usuarios (Nombre, Correo, RolID, AreaID, Activo, FechaCreacion)
    VALUES (@Nombre, @Correo, @RolID, @AreaID, 1, GETDATE());

    SET @NuevoID = SCOPE_IDENTITY();
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Usuarios_Desactivar]    Script Date: 07/04/2026 11:01:04 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_Usuarios_Desactivar]
    @UsuarioID INT
AS
BEGIN
    SET NOCOUNT ON;
    UPDATE Usuarios SET Activo = 0 WHERE UsuarioID = @UsuarioID;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Usuarios_ObtenerPorCorreo]    Script Date: 07/04/2026 11:01:04 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Corrige el SP de login quitando ContrasenaHash del SELECT
CREATE PROCEDURE [dbo].[sp_Usuarios_ObtenerPorCorreo]
    @Correo NVARCHAR(150)
AS
BEGIN
    SET NOCOUNT ON;
    SELECT u.UsuarioID, u.Nombre, u.Correo,
           u.RolID, u.AreaID, u.Activo, r.NombreRol
    FROM Usuarios u
    INNER JOIN Roles r ON r.RolID = u.RolID
    WHERE u.Correo = @Correo AND u.Activo = 1;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Usuarios_ObtenerPorID]    Script Date: 07/04/2026 11:01:04 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_Usuarios_ObtenerPorID]
    @UsuarioID INT
AS
BEGIN
    SET NOCOUNT ON;
    SELECT u.UsuarioID, u.Nombre, u.Correo, u.Activo,
           u.RolID, u.AreaID,
           u.FechaCreacion, u.UltimoAcceso,
           r.NombreRol, a.NombreArea
    FROM Usuarios u
    INNER JOIN Roles r ON r.RolID  = u.RolID
    LEFT  JOIN Areas a ON a.AreaID = u.AreaID
    WHERE u.UsuarioID = @UsuarioID;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Usuarios_ObtenerTodos]    Script Date: 07/04/2026 11:01:04 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Usuarios_ObtenerTodos]
    @SoloActivos BIT = 1
AS
BEGIN
    SET NOCOUNT ON;
    SELECT u.UsuarioID, u.Nombre, u.Correo, u.Activo,
           u.RolID, u.AreaID,
           u.FechaCreacion, u.UltimoAcceso,
           r.NombreRol, a.NombreArea
    FROM Usuarios u
    INNER JOIN Roles r ON r.RolID  = u.RolID
    LEFT  JOIN Areas a ON a.AreaID = u.AreaID
    WHERE (@SoloActivos = 0 OR u.Activo = 1)
    ORDER BY u.FechaCreacion DESC;
END
GO
USE [master]
GO
